# Busca SQL MP Metro

Método:

Para cara arquivo contendo dados dos diversos sistemas, gerar dataframe com número de processo e SQL relacionado (1 para n), unir os data frames em um único e após, iterar sobre a lista de sqls que se quer pesquisar e procurar, esse determinado sql, trazendo todos os processos que forem encontrados.

In [44]:
#Sistema                               tabela balancoproc     ok
#nº do Processo;                       todas                  OK 
#Data de Autuação do Processo;         tabela balancoproc     ok
#P_COD_ASS_OBRA;                       -
#SQLs / INCRAs;                        tabela localizacao     OK
#Código Assunto;                       -
#Código Aditivo;                       -
#Assunto;                              tabela localizacao     OK
#Status do Despacho;                   tabela balancoproc     ok
#Data de publicação do Despacho;       tabela dispatched
#nº do Alvará;                         tabela dispatched
#Data de Emissão do Alvará;            tabela dispatched
#Interessados;                         tabela balancoproc     ok
#Endereço (Logradouro);                tabela localizacao     OK
#Número do imóvel;                     tabela localizacao     OK
#Bairro                                tabela localizacao     OK


# Tabelas - localizacao, processos, dispatched, envolvidos

In [45]:
import pandas as pd

## Busca por SQL

### Aprova Digital

In [46]:
ad = pd.read_csv('ad_localizacoes.csv', encoding='latin1', sep=';')
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30208 entries, 0 to 30207
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30208 non-null  object
 1   assunto        30208 non-null  object
 2   n_processo     30208 non-null  object
 3   endereco       29150 non-null  object
 4   logradouro     26533 non-null  object
 5   numero         26533 non-null  object
 6   complemento    8033 non-null   object
 7   bairro         26523 non-null  object
 8   cep            29152 non-null  object
 9   sql            28800 non-null  object
 10  incra          210 non-null    object
 11  area_p         163 non-null    object
 12  codlog         29152 non-null  object
 13  zona_uso       26533 non-null  object
 14  subprefeitura  26226 non-null  object
 15  distrito       10081 non-null  object
 16  tipo_id        5367 non-null   object
dtypes: object(17)
memory usage: 3.9+ MB

In [47]:
loc = ad[['sql', 'n_processo', 'assunto', 'logradouro', 'numero', 'bairro']][:]
loc.head(20)

,sql,n_processo,assunto,logradouro,numero,bairro
0,10304601313,1010.2020/0005874-9,Alvará de Aprovação e Execução de Edificação N...,Avenida Guarapiranga,1671,PQ ALVES DE LIMA
1,"08602001274, 08602000073, 08602000057, 0860200...",1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo"
2,04709702683,1010.2020/0006754-3,Alvará de Aprovação e Execução de Edificação N...,Rua Doutor Mauricio de Lacerda,165,Vila Monte Alegre
3,07725200762,1010.2020/0006559-1,Alvará de Aprovação de Edificação Nova (HIS/ HMP),"Rua Pedro Colaço, Rua Olímpio Tomas Fernandes",21-45,Vila Pirituba
4,14907100069,1010.2020/0006787-0,Alvará de Aprovação e Execução de Edificação N...,RUA PASTOR AGENOR CALDEIRA DINIz,1218,Cidade Centenário
5,11034400346,1010.2020/0006558-3,Alvará de Aprovação e Execução de Edificação N...,Avenida Jaime Torres,199,JD POPULAR
6,052.261.0147-3,1010.2020/0007422-1,Certificado de Acessibilidade,AVENIDA SALIN FARAH MALUF,4226,MÓOCA
7,10805700608,1010.2020/0007052-8,"Cadastro de tanque de armazenagem, bomba, filt...",Av. Inajar de Souza,5180,Vila Rica
8,05402901570,1010.2020/0006801-9,Alvará de Aprovação e Execução de Edificação N...,Rua Francisco Marengo,311 - CASA 1,Tatuapé
9,10805700608,1010.2020/0007034-0,Cadastro de Sistema Especial de Segurança,Av Inajar de Souza,5180,Vila Rica
10,06910000315,1010.2020/0007418-3,"Cadastro de tanque de armazenagem, bomba, filt...",AVENIDA LEÔNCIO DE MAGALHÃES,1170,JD SÃO PAULO
11,06910000315,1010.2020/0006791-8,Certificado de Estanqueidade,AVENIDA LEONCIO DE MAGALHAES,1170,JARDIM SÃO PAULO
12,02105100104,1010.2020/0006790-0,Alvará de Aprovação e Execução de Edificação N...,"RUA MINERVA, RUA DOUTOR HOMEM DE MELO",243,PERDIZES
13,19004400124,1010.2020/0007192-3,Alvará de Aprovação e Execução de Edificação N...,"ESTRADA DAS TAIPAS, VIELA MINORU YAMASAKI",2956,TAIPAS - PIRITUBA
14,09113400134,1010.2020/0007035-8,Alvará de Aprovação e Execução de Edificação N...,RUA LAS PALMAS,545 LOTE 21 QD 16,AMERICANÓPOILS
15,12322800731,1010.2020/0006853-1,Alvará de Aprovação e Execução de Edificação N...,Rua Armando Barreto,S/N,BUTANTA
16,197.015.0046-5,1010.2020/0007926-6,Certificado de Acessibilidade,AV THOMAS EDISON,849,BARRA FUNDA
17,00804800456,1010.2020/0007037-4,Alvará de Execução de Edificação Nova (HIS/ HMP),Av. Duque de Caxias,803.807.811.815 e 821,Santa Cecília
18,00405600593,1010.2020/0007036-6,Alvará de Aprovação e Execução de Edificação N...,RUA SIVEIRA DA MOTA,73,CAMBUCI
19,06211400241,1010.2020/0007370-5,Alvará de Aprovação e Execução de Edificação N...,Rua Tuiuti,995,Tatuapé

In [48]:
loc['sql'] = loc['sql'].astype(str)

In [49]:
# Retirando as mascaras
def no_mask(text):
    return text.replace('.', '').replace('-', '').zfill(11)

loc['sql_clean'] = loc['sql'].apply(no_mask)
loc.head(20)

,sql,n_processo,assunto,logradouro,numero,bairro,sql_clean
0,10304601313,1010.2020/0005874-9,Alvará de Aprovação e Execução de Edificação N...,Avenida Guarapiranga,1671,PQ ALVES DE LIMA,10304601313
1,"08602001274, 08602000073, 08602000057, 0860200...",1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo","08602001274, 08602000073, 08602000057, 0860200..."
2,04709702683,1010.2020/0006754-3,Alvará de Aprovação e Execução de Edificação N...,Rua Doutor Mauricio de Lacerda,165,Vila Monte Alegre,04709702683
3,07725200762,1010.2020/0006559-1,Alvará de Aprovação de Edificação Nova (HIS/ HMP),"Rua Pedro Colaço, Rua Olímpio Tomas Fernandes",21-45,Vila Pirituba,07725200762
4,14907100069,1010.2020/0006787-0,Alvará de Aprovação e Execução de Edificação N...,RUA PASTOR AGENOR CALDEIRA DINIz,1218,Cidade Centenário,14907100069
5,11034400346,1010.2020/0006558-3,Alvará de Aprovação e Execução de Edificação N...,Avenida Jaime Torres,199,JD POPULAR,11034400346
6,052.261.0147-3,1010.2020/0007422-1,Certificado de Acessibilidade,AVENIDA SALIN FARAH MALUF,4226,MÓOCA,05226101473
7,10805700608,1010.2020/0007052-8,"Cadastro de tanque de armazenagem, bomba, filt...",Av. Inajar de Souza,5180,Vila Rica,10805700608
8,05402901570,1010.2020/0006801-9,Alvará de Aprovação e Execução de Edificação N...,Rua Francisco Marengo,311 - CASA 1,Tatuapé,05402901570
9,10805700608,1010.2020/0007034-0,Cadastro de Sistema Especial de Segurança,Av Inajar de Souza,5180,Vila Rica,10805700608
10,06910000315,1010.2020/0007418-3,"Cadastro de tanque de armazenagem, bomba, filt...",AVENIDA LEÔNCIO DE MAGALHÃES,1170,JD SÃO PAULO,06910000315
11,06910000315,1010.2020/0006791-8,Certificado de Estanqueidade,AVENIDA LEONCIO DE MAGALHAES,1170,JARDIM SÃO PAULO,06910000315
12,02105100104,1010.2020/0006790-0,Alvará de Aprovação e Execução de Edificação N...,"RUA MINERVA, RUA DOUTOR HOMEM DE MELO",243,PERDIZES,02105100104
13,19004400124,1010.2020/0007192-3,Alvará de Aprovação e Execução de Edificação N...,"ESTRADA DAS TAIPAS, VIELA MINORU YAMASAKI",2956,TAIPAS - PIRITUBA,19004400124
14,09113400134,1010.2020/0007035-8,Alvará de Aprovação e Execução de Edificação N...,RUA LAS PALMAS,545 LOTE 21 QD 16,AMERICANÓPOILS,09113400134
15,12322800731,1010.2020/0006853-1,Alvará de Aprovação e Execução de Edificação N...,Rua Armando Barreto,S/N,BUTANTA,12322800731
16,197.015.0046-5,1010.2020/0007926-6,Certificado de Acessibilidade,AV THOMAS EDISON,849,BARRA FUNDA,19701500465
17,00804800456,1010.2020/0007037-4,Alvará de Execução de Edificação Nova (HIS/ HMP),Av. Duque de Caxias,803.807.811.815 e 821,Santa Cecília,00804800456
18,00405600593,1010.2020/0007036-6,Alvará de Aprovação e Execução de Edificação N...,RUA SIVEIRA DA MOTA,73,CAMBUCI,00405600593
19,06211400241,1010.2020/0007370-5,Alvará de Aprovação e Execução de Edificação N...,Rua Tuiuti,995,Tatuapé,06211400241

In [50]:
localizacao = loc[['sql_clean', 'n_processo', 'assunto', 'logradouro', 'numero', 'bairro']][:]
localizacao

,sql_clean,n_processo,assunto,logradouro,numero,bairro
0,10304601313,1010.2020/0005874-9,Alvará de Aprovação e Execução de Edificação N...,Avenida Guarapiranga,1671,PQ ALVES DE LIMA
1,"08602001274, 08602000073, 08602000057, 0860200...",1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo"
2,04709702683,1010.2020/0006754-3,Alvará de Aprovação e Execução de Edificação N...,Rua Doutor Mauricio de Lacerda,165,Vila Monte Alegre
3,07725200762,1010.2020/0006559-1,Alvará de Aprovação de Edificação Nova (HIS/ HMP),"Rua Pedro Colaço, Rua Olímpio Tomas Fernandes",21-45,Vila Pirituba
4,14907100069,1010.2020/0006787-0,Alvará de Aprovação e Execução de Edificação N...,RUA PASTOR AGENOR CALDEIRA DINIz,1218,Cidade Centenário
...,...,...,...,...,...,...
30203,06114100387,1020.2024/0000931-6,Alvará de Aprovação e Execução de Edificação N...,RUA PERSIO AZEVEDO,344,PENHA DE FRANÇA
30204,00000000nan,1020.2024/0000966-9,Apostilamento,NaN,NaN,NaN
30205,00000000nan,1020.2024/0000969-3,Apostilamento,NaN,NaN,NaN
30206,00000000nan,1020.2024/0000974-0,Apostilamento,NaN,NaN,NaN
30207,00000000nan,1020.2024/0000990-1,Apostilamento,NaN,NaN,NaN

In [51]:
localizacao['sql_list'] = localizacao['sql_clean'].apply(lambda x: x.replace(' ', '').split(','))
localizacao.head()

,sql_clean,n_processo,assunto,logradouro,numero,bairro,sql_list
0,10304601313,1010.2020/0005874-9,Alvará de Aprovação e Execução de Edificação N...,Avenida Guarapiranga,1671,PQ ALVES DE LIMA,[10304601313]
1,"08602001274, 08602000073, 08602000057, 0860200...",1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo","[08602001274, 08602000073, 08602000057, 086020..."
2,04709702683,1010.2020/0006754-3,Alvará de Aprovação e Execução de Edificação N...,Rua Doutor Mauricio de Lacerda,165,Vila Monte Alegre,[04709702683]
3,07725200762,1010.2020/0006559-1,Alvará de Aprovação de Edificação Nova (HIS/ HMP),"Rua Pedro Colaço, Rua Olímpio Tomas Fernandes",21-45,Vila Pirituba,[07725200762]
4,14907100069,1010.2020/0006787-0,Alvará de Aprovação e Execução de Edificação N...,RUA PASTOR AGENOR CALDEIRA DINIz,1218,Cidade Centenário,[14907100069]

In [52]:
localizacao = localizacao.explode('sql_list')
localizacao.shape

(49484, 7)

In [53]:
localizacao_ex = localizacao[['sql_list', 'n_processo', 'assunto', 'logradouro', 'numero', 'bairro']]
localizacao_ex.head()

,sql_list,n_processo,assunto,logradouro,numero,bairro
0,10304601313,1010.2020/0005874-9,Alvará de Aprovação e Execução de Edificação N...,Avenida Guarapiranga,1671,PQ ALVES DE LIMA
1,08602001274,1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo"
1,08602000073,1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo"
1,08602000057,1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo"
1,08602000065,1010.2020/0006241-0,Alvará de Aprovação de Edificação Nova (Exceto...,"Av. Santo Amaro , Rua Gabriele D'Annunzio, Rua...","3921, 61 , 47, 55","Campo Belo, Campo Belo, Campo Belo, Campo Belo"

In [54]:
localizacao_ex.columns = ['sql_list', 'processo', 'assunto', 'logradouro', 'numero', 'bairro']
localizacao_ex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49484 entries, 0 to 30207
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sql_list    49484 non-null  object
 1   processo    49484 non-null  object
 2   assunto     49484 non-null  object
 3   logradouro  40312 non-null  object
 4   numero      40312 non-null  object
 5   bairro      40302 non-null  object
dtypes: object(6)
memory usage: 2.6+ MB

### AD - outras tabelas

In [55]:
# Balanco processos - tabela pronta com diversos dos campos necessários à busca
balanco_raw = pd.read_csv('ad_balanco_processo.csv', encoding='latin1', sep=';')
balanco_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30208 entries, 0 to 30207
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      30208 non-null  object
 1   assunto                 30208 non-null  object
 2   protocolo               30208 non-null  object
 3   processo                30208 non-null  object
 4   data_autuacao           30199 non-null  object
 5   situacao                30208 non-null  object
 6   sql                     28800 non-null  object
 7   incra                   210 non-null    object
 8   area_publica            163 non-null    object
 9   proprietario            29153 non-null  object
 10  endereco                29150 non-null  object
 11  subprefeitura           26227 non-null  object
 12  distrito                10080 non-null  object
 13  categoria               27147 non-null  object
 14  subcategoria            22029 non-null  object
 15  area_terreno            18662 non-null  object
 16  area_construir          30208 non-null  float64
 17  area_existente          30208 non-null  float64
 18  area_regularizar        30208 non-null  float64
 19  area_demolir            30208 non-null  float64
 20  area_total_a_construir  16383 non-null  float64
 21  blocos                  16345 non-null  float64
 22  pavimentos              13538 non-null  float64
 23  unidades_residenciais   20871 non-null  float64
 24  sistema_origem          30208 non-null  object
 25  data_extracao           30208 non-null  object
dtypes: float64(8), object(18)
memory usage: 6.0+ MB

In [56]:
balanco = balanco_raw[['processo', 'sistema_origem', 'data_autuacao', 'situacao', 'proprietario']]
balanco.head()

,processo,sistema_origem,data_autuacao,situacao,proprietario
0,1010.2020/0005874-9,Aprova Digital,NaN,desistido,NOVODISC MIDIA DIGITAL LTDA
1,1010.2020/0006241-0,Aprova Digital,NaN,deferido,BNC Madri Desenvolvimento Imobiliário SPE Ltda
2,1010.2020/0006754-3,Aprova Digital,NaN,em análise,"José Carlos Petrini, Marcia Alves Incontri"
3,1010.2020/0006559-1,Aprova Digital,NaN,deferido,Ceiry Pedro Colaço Empreendimentos Imobiliário...
4,1010.2020/0006787-0,Aprova Digital,NaN,deferido,Leandro Gomes Feitoza

In [57]:
# tabelas despachos
despachos_raw = pd.read_csv('ad_dispatched_despachos.csv', encoding='latin1', sep=';')
despachos_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20215 entries, 0 to 20214
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               20215 non-null  object
 1   protocolo        20215 non-null  object
 2   processo         20215 non-null  object
 3   assunto          20215 non-null  object
 4   despacho         20215 non-null  object
 5   data_publicacao  20215 non-null  object
 6   documento_sei    20215 non-null  int64
 7   coord_despacho   14733 non-null  object
 8   documento        14328 non-null  object
 9   cat_uso          14021 non-null  object
 10  data_extracao    20215 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.7+ MB

In [58]:
despachos = despachos_raw[['processo', 'data_publicacao', 'documento']][:]
despachos.head()

              processo data_publicacao    documento
0  1010.2020/0006241-0      14/05/2023  1-20-SP-SAO
1  1010.2020/0006559-1      09/07/2021  6-20-SP-SAO
2  1010.2020/0006787-0      28/04/2021  7-20-SP-SAO
3  1010.2020/0006558-3      09/05/2022  8-20-SP-SAO
4  1010.2020/0007422-1      23/03/2021          NaN

In [59]:
despachos['data_emissao_alvara'] = despachos['data_publicacao']
despachos.head()

              processo data_publicacao    documento data_emissao_alvara
0  1010.2020/0006241-0      14/05/2023  1-20-SP-SAO          14/05/2023
1  1010.2020/0006559-1      09/07/2021  6-20-SP-SAO          09/07/2021
2  1010.2020/0006787-0      28/04/2021  7-20-SP-SAO          28/04/2021
3  1010.2020/0006558-3      09/05/2022  8-20-SP-SAO          09/05/2022
4  1010.2020/0007422-1      23/03/2021          NaN          23/03/2021

### Merge

In [60]:
ad_temp = pd.merge(localizacao_ex, balanco, how='left', on='processo')
ad_merge = pd.merge(ad_temp, despachos, how='left', on='processo')
ad_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51920 entries, 0 to 51919
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sql_list             51920 non-null  object
 1   processo             51920 non-null  object
 2   assunto              51920 non-null  object
 3   logradouro           42358 non-null  object
 4   numero               42358 non-null  object
 5   bairro               42341 non-null  object
 6   sistema_origem       51878 non-null  object
 7   data_autuacao        51864 non-null  object
 8   situacao             51878 non-null  object
 9   proprietario         50813 non-null  object
 10  data_publicacao      34269 non-null  object
 11  documento            26986 non-null  object
 12  data_emissao_alvara  34269 non-null  object
dtypes: object(13)
memory usage: 5.1+ MB

In [61]:
ad_merge['cod_assunto_obra'] = None
ad_merge['cod_assunto'] = None
ad_merge['cod_aditivo'] = None
ad_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51920 entries, 0 to 51919
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sql_list             51920 non-null  object
 1   processo             51920 non-null  object
 2   assunto              51920 non-null  object
 3   logradouro           42358 non-null  object
 4   numero               42358 non-null  object
 5   bairro               42341 non-null  object
 6   sistema_origem       51878 non-null  object
 7   data_autuacao        51864 non-null  object
 8   situacao             51878 non-null  object
 9   proprietario         50813 non-null  object
 10  data_publicacao      34269 non-null  object
 11  documento            26986 non-null  object
 12  data_emissao_alvara  34269 non-null  object
 13  cod_assunto_obra     0 non-null      object
 14  cod_assunto          0 non-null      object
 15  cod_aditivo          0 non-null      object
dtypes: object(16)
memory usage: 6.3+ MB

In [62]:
ad_final = ad_merge[['sistema_origem', 'processo', 'data_autuacao', 'cod_assunto_obra', 'sql_list', 'cod_assunto', 'cod_aditivo', 'assunto', 'situacao',
                     'data_publicacao' ,'documento', 'data_emissao_alvara', 'proprietario', 'logradouro', 'numero', 'bairro']]
ad_final.rename(columns={'sql_list': 'sql', 'situacao': 'status', 'proprietario': 'interessados'}, inplace=True)
ad_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51920 entries, 0 to 51919
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sistema_origem       51878 non-null  object
 1   processo             51920 non-null  object
 2   data_autuacao        51864 non-null  object
 3   cod_assunto_obra     0 non-null      object
 4   sql                  51920 non-null  object
 5   cod_assunto          0 non-null      object
 6   cod_aditivo          0 non-null      object
 7   assunto              51920 non-null  object
 8   status               51878 non-null  object
 9   data_publicacao      34269 non-null  object
 10  documento            26986 non-null  object
 11  data_emissao_alvara  34269 non-null  object
 12  interessados         50813 non-null  object
 13  logradouro           42358 non-null  object
 14  numero               42358 non-null  object
 15  bairro               42341 non-null  object
dtypes: object(16)
memory usage: 6.3+ MB

### Arquivo Busca

In [63]:
with open('sqls_metro.txt') as sqls_file:
    consulta = sqls_file.readlines()

consulta = list(map(lambda x: x[:-1], consulta))
len(consulta)

52

In [64]:
resultado = [ad_final.query(f"sql == '{sql}'") for sql in consulta]
result_df = pd.concat(resultado)
result_df.head(20)

,sistema_origem,processo,data_autuacao,cod_assunto_obra,sql,cod_assunto,cod_aditivo,assunto,status,data_publicacao,documento,data_emissao_alvara,interessados,logradouro,numero,bairro
8827,Aprova Digital,1020.2021/0018694-8,08/12/2021 16:37:20,None,04210500259,None,None,Certificado de Acessibilidade,em análise,NaN,NaN,NaN,Companhia Santa Cruz S.A.,Rua Domingos de Morais,2564,Vila Mariana
25925,Aprova Digital,1020.2022/0019335-0,06/10/2022 08:11:48,None,04210500259,None,None,Alvará de implantação de Estação Rádio-Base,deferido,06/10/2022,19486-22-SP-ERB,06/10/2022,Companhia Santa Cruz,R DOMINGOS DE MORAIS,2564,VILA MARIANA
29680,Aprova Digital,1020.2022/0023847-8,21/12/2022 07:31:10,None,04210500259,None,None,Cadastro de Sistema Especial de Segurança,deferido,01/08/2023,22544-22-SP-CDT,01/08/2023,COMPANHIA SANTA CRUZ,"RUA DOMINGOS DE MORAIS,",2564,VILA MARIANA
7615,Aprova Digital,1020.2021/0011852-7,26/08/2021 20:41:13,None,06751000014,None,None,Certificado de Acessibilidade,em análise,23/01/2023,NaN,23/01/2023,OUTBACK STEAKHOUSE RESTAURANTES BRASIL S.A.,AV DOUTOR ANTONIO MARIA LAET,566,PARADA INGLESA
9766,Aprova Digital,1020.2021/0016492-8,28/10/2021 16:21:32,None,06751000014,None,None,Certificado de Acessibilidade,desistido,NaN,NaN,NaN,ITAU UNIBANCO S.A,AV DOUTOR ANTONIO MARIA LAET,566,TUCURUVI
33502,Aprova Digital,1020.2023/0003501-3,02/03/2023 07:02:09,None,06751000014,None,None,Certificado de Acessibilidade,em análise,NaN,NaN,NaN,Consórcio Condomínio Shopping Metro Tucuruvi,Av. Doutor Antonio Maria Laet,566,Tucuruvi
27426,Aprova Digital,1020.2022/0018774-1,29/09/2022 08:28:33,None,05803300543,None,None,"Cadastro de tanque de armazenagem, bomba, filt...",em análise,NaN,NaN,NaN,AUTO POSTO ASTORGA LTDA,AV ANTONIO ESTEVAO DE CARVALHO,400,PATRIARCA
12603,Aprova Digital,1020.2022/0002189-4,18/02/2022 09:47:11,None,02111700029,None,None,Alvará de Funcionamento de Local de Reunião,em análise,28/06/2023,NaN,28/06/2023,FUNDAÇÃO MEMORIAL DA AMERICA LATINA,"Avenida Auto Soares de Moura Andrade, AVENIDA ...","664, S/N","Barra Funda, BARRA FUNDA"
12762,Aprova Digital,1020.2022/0000335-7,12/01/2022 16:40:50,None,02111700029,None,None,Pedido de Isenção de Taxa,deferido,14/02/2022,9378-21-SP-TAX,14/02/2022,FUNDAÇÃO MEMORIAL DA AMERICA LATINA,"Avenida Auto Soares de Moura Andrade, AVENIDA ...","664, S/N","Barra Funda, BARRA FUNDA"

In [65]:
result_df.reset_index(drop=True, inplace=True)

In [66]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sistema_origem       9 non-null      object
 1   processo             9 non-null      object
 2   data_autuacao        9 non-null      object
 3   cod_assunto_obra     0 non-null      object
 4   sql                  9 non-null      object
 5   cod_assunto          0 non-null      object
 6   cod_aditivo          0 non-null      object
 7   assunto              9 non-null      object
 8   status               9 non-null      object
 9   data_publicacao      5 non-null      object
 10  documento            3 non-null      object
 11  data_emissao_alvara  5 non-null      object
 12  interessados         9 non-null      object
 13  logradouro           9 non-null      object
 14  numero               9 non-null      object
 15  bairro               9 non-null      object
dtypes: object(16)
memory usage: 1.2+ KB

In [67]:
result_df = result_df.drop_duplicates()
result_df

,sistema_origem,processo,data_autuacao,cod_assunto_obra,sql,cod_assunto,cod_aditivo,assunto,status,data_publicacao,documento,data_emissao_alvara,interessados,logradouro,numero,bairro
0,Aprova Digital,1020.2021/0018694-8,08/12/2021 16:37:20,None,04210500259,None,None,Certificado de Acessibilidade,em análise,NaN,NaN,NaN,Companhia Santa Cruz S.A.,Rua Domingos de Morais,2564,Vila Mariana
1,Aprova Digital,1020.2022/0019335-0,06/10/2022 08:11:48,None,04210500259,None,None,Alvará de implantação de Estação Rádio-Base,deferido,06/10/2022,19486-22-SP-ERB,06/10/2022,Companhia Santa Cruz,R DOMINGOS DE MORAIS,2564,VILA MARIANA
2,Aprova Digital,1020.2022/0023847-8,21/12/2022 07:31:10,None,04210500259,None,None,Cadastro de Sistema Especial de Segurança,deferido,01/08/2023,22544-22-SP-CDT,01/08/2023,COMPANHIA SANTA CRUZ,"RUA DOMINGOS DE MORAIS,",2564,VILA MARIANA
3,Aprova Digital,1020.2021/0011852-7,26/08/2021 20:41:13,None,06751000014,None,None,Certificado de Acessibilidade,em análise,23/01/2023,NaN,23/01/2023,OUTBACK STEAKHOUSE RESTAURANTES BRASIL S.A.,AV DOUTOR ANTONIO MARIA LAET,566,PARADA INGLESA
4,Aprova Digital,1020.2021/0016492-8,28/10/2021 16:21:32,None,06751000014,None,None,Certificado de Acessibilidade,desistido,NaN,NaN,NaN,ITAU UNIBANCO S.A,AV DOUTOR ANTONIO MARIA LAET,566,TUCURUVI
5,Aprova Digital,1020.2023/0003501-3,02/03/2023 07:02:09,None,06751000014,None,None,Certificado de Acessibilidade,em análise,NaN,NaN,NaN,Consórcio Condomínio Shopping Metro Tucuruvi,Av. Doutor Antonio Maria Laet,566,Tucuruvi
6,Aprova Digital,1020.2022/0018774-1,29/09/2022 08:28:33,None,05803300543,None,None,"Cadastro de tanque de armazenagem, bomba, filt...",em análise,NaN,NaN,NaN,AUTO POSTO ASTORGA LTDA,AV ANTONIO ESTEVAO DE CARVALHO,400,PATRIARCA
7,Aprova Digital,1020.2022/0002189-4,18/02/2022 09:47:11,None,02111700029,None,None,Alvará de Funcionamento de Local de Reunião,em análise,28/06/2023,NaN,28/06/2023,FUNDAÇÃO MEMORIAL DA AMERICA LATINA,"Avenida Auto Soares de Moura Andrade, AVENIDA ...","664, S/N","Barra Funda, BARRA FUNDA"
8,Aprova Digital,1020.2022/0000335-7,12/01/2022 16:40:50,None,02111700029,None,None,Pedido de Isenção de Taxa,deferido,14/02/2022,9378-21-SP-TAX,14/02/2022,FUNDAÇÃO MEMORIAL DA AMERICA LATINA,"Avenida Auto Soares de Moura Andrade, AVENIDA ...","664, S/N","Barra Funda, BARRA FUNDA"

In [68]:
result_df.to_excel('_consulta_ad_sql_mp_metro.xlsx', index=False)

## Busca por endereço

### Preparação do arquivo de endereços com chaves de busca

In [69]:
# dados endereco
with open('enderecos_metro.txt', 'r', encoding='utf-8') as end_txt:
    nao_formatado = end_txt.readlines()
nao_formatado = list(map(lambda x: x[:-1], nao_formatado))
nao_formatado[:3]

['R. PEDRO VICENTE, N 47 --CEP 01109-010 DISTRITO BOM RETIRO BAIRRO LUZ CODLOG 160067',
 'AV. CRUZEIRO DO SUL, N 2487 --CEP 02031-000 DISTRITO SANTANA BAIRRO CANINDE CODLOG 055670',
 'AV. ENGENHEIRO ARMANDO DE ARRUDA PEREIRA, N 919 --CEP 04309-010 DISTRITO JABAQUARA BAIRRO JABAQUARA CODLOG 055670']

In [70]:
# tranformando em dataframe
df_end = pd.DataFrame({'endereco_nao_formatado': nao_formatado})
df_end

                               endereco_nao_formatado
0   R. PEDRO VICENTE, N 47 --CEP 01109-010 DISTRIT...
1   AV. CRUZEIRO DO SUL, N 2487 --CEP 02031-000 DI...
2   AV. ENGENHEIRO ARMANDO DE ARRUDA PEREIRA, N 91...
3   R. DOS JEQUITIBAS, N 80 --CEP 04321-090 DISTRI...
4   PÇ. LIBERDADE, N 133 --CEP 01503-010 DISTRITO ...
..                                                ...
58              AV. SAPOPEMBA, N 15136 -CEP 03989-010
59               AV SAPOPEMBA, N 11260 -CEP 03988-000
60  AV PROFESSOR LUIZ IGNACIO ANHAJA MELLO, N 1359...
61  AV PROFESSOR LUIZ IGNÁCIO ANHAIA MELLO, N 9085...
62  AV PROFESSOR LUIZ IGNACIO ANHAIA MELLO, N 9109...

[63 rows x 1 columns]

In [71]:
df_end['endereco_nf_min'] = df_end['endereco_nao_formatado'].str.lower()
df_end.head(3)

,endereco_nao_formatado,endereco_nf_min
0,"R. PEDRO VICENTE, N 47 --CEP 01109-010 DISTRIT...","r. pedro vicente, n 47 --cep 01109-010 distrit..."
1,"AV. CRUZEIRO DO SUL, N 2487 --CEP 02031-000 DI...","av. cruzeiro do sul, n 2487 --cep 02031-000 di..."
2,"AV. ENGENHEIRO ARMANDO DE ARRUDA PEREIRA, N 91...","av. engenheiro armando de arruda pereira, n 91..."

In [72]:
# Tirando alguns titulos que podem ser inconsistentes
to_replace = (('engenheiro ', ''), ('doutor ', ''), ('dr. ', ''), ('professor', ''), ('santa ', ''), ('conde ', ''), ('coronel', ''))
for k, i in to_replace:
    df_end['endereco_nf_min'] = df_end['endereco_nf_min'].str.replace(k, i)
df_end.tail()

,endereco_nao_formatado,endereco_nf_min
58,"AV. SAPOPEMBA, N 15136 -CEP 03989-010","av. sapopemba, n 15136 -cep 03989-010"
59,"AV SAPOPEMBA, N 11260 -CEP 03988-000","av sapopemba, n 11260 -cep 03988-000"
60,"AV PROFESSOR LUIZ IGNACIO ANHAJA MELLO, N 1359...","av luiz ignacio anhaja mello, n 1359- cep: 03..."
61,"AV PROFESSOR LUIZ IGNÁCIO ANHAIA MELLO, N 9085...","av luiz ignácio anhaia mello, n 9085-cep: 032..."
62,"AV PROFESSOR LUIZ IGNACIO ANHAIA MELLO, N 9109...","av luiz ignacio anhaia mello, n 9109-cep: 032..."

In [73]:
df_end['chave_pesquisa']  = df_end['endereco_nf_min'].apply(lambda x: x[4:12])
#list(df_end['chave_pesquisa'])

In [74]:
df_end['numero_nf'] = df_end['endereco_nf_min'].apply(lambda x: x[x.find(', n') + 3: x.find('-')])
df_end['numero_nf']

0         47
1       2487
2        919
3         80
4        133
       ...
58     15136
59     11260
60       1359
61       9085
62       9109
Name: numero_nf, Length: 63, dtype: object

In [75]:
df_end['numero'] = df_end['numero_nf'].str.strip()
df_end['numero']

0        47
1      2487
2       919
3        80
4       133
      ...
58    15136
59    11260
60     1359
61     9085
62     9109
Name: numero, Length: 63, dtype: object

In [76]:
df_end_pesquisa = df_end[['chave_pesquisa', 'numero']]
list(df_end_pesquisa['chave_pesquisa'])
df_end_pesquisa

   chave_pesquisa numero
0        edro vic     47
1        cruzeiro   2487
2        armando     919
3        os jequi     80
4        liberdad    133
..            ...    ...
58       sapopemb  15136
59       apopemba  11260
60       luiz ign   1359
61       luiz ign   9085
62       luiz ign   9109

[63 rows x 2 columns]

In [77]:
for index, row in df_end_pesquisa.iterrows():
    print(row['chave_pesquisa'], row['numero'])

edro vic 47
cruzeiro 2487
armando  919
os jequi 80
liberdad 133
leoncio  1000
prestes  773
luis dum 1834
cruzeiro 1511
jabaquar 740
omingos  2564
cruzeiro 3201
são bent 109
liberdad 1033
jabaquar 2438
jabaquar 1634
tiradent 551
antonio  100
ergueiro 790
 noé de  255
ergueiro 2245
ergueiro 1485
gentil d 272
paulista 450
ergueiro 3700
rnaldo,  600
aulista, 2163
arnaldo, 1430
gostinho 3499
ricardo  17
presiden 4899
paulista 1299
américo  40
 luiz ig 1239
resa, n  76
rmosa, n 99999
iz ayres 1800
lcantara 99999
mingos p 99999
podromo, 99999
adial le 99999
torga, n 800
rojetada 1900
arechal  99999
mário de 718
ntônio e 1990
 figueir 99999
e fronti 99999
 arouche 24
ecília,  99999
lo freir 99999 cep: 03314
edro dia 1173
vila ema s/n
sapopemb 12780
agues ch 1500
apopemba 10000
o oratór 165
luiz ign 5345
sapopemb 15136
apopemba 11260
luiz ign 1359
luiz ign 9085
luiz ign 9109

### Busca na tabela

In [78]:
ad_final['sq'] = ad_final['sql'].apply(lambda x: x[:6])
ad_final['sq']

0        103046
1        086020
2        086020
3        086020
4        086020
          ...
51915    061141
51916    000000
51917    000000
51918    000000
51919    000000
Name: sq, Length: 51920, dtype: object

In [79]:
consulta_sq = list(map(lambda x: x[:6], consulta))
consulta_sq

['018015',
 '073034',
 '310026',
 '091592',
 '005082',
 '001022',
 '073157',
 '045123',
 '042105',
 '073039',
 '001064',
 '033006',
 '047226',
 '047259',
 '018080',
 '067510',
 '038018',
 '039078',
 '038105',
 '037006',
 '043093',
 '039173',
 '050110',
 '046214',
 '302034',
 '081232',
 '100090',
 '005026',
 '006036',
 '113231',
 '029099',
 '003070',
 '027088',
 '062242',
 '058033',
 '143072',
 '020050',
 '021117',
 '113024',
 '056001',
 '007071',
 '007092',
 '030167',
 '061169',
 '118161',
 '118194',
 '118306',
 '151194',
 '118287',
 '100090',
 '118135',
 '155154']

In [80]:
ad_final['logradouro'] = ad_final['logradouro'].astype(str)
ad_final['numero'] = ad_final['numero'].astype(str)

In [81]:
ad_final['logradouro_formatado'] = ad_final['logradouro'].apply(lambda x: str(x).lower())

In [82]:
ad_filtro_sq = ad_final.query("sq.isin(@consulta_sq)")[:]

In [83]:
result = []
for index, row in df_end_pesquisa.iterrows():
    temp = ad_filtro_sq.query(f"(logradouro_formatado.str.contains('{row['chave_pesquisa']}')) and (numero.str.contains('{row['numero']}'))")
    result.append(temp)
final_result = pd.concat(result)
final_result.shape

(3, 18)

In [84]:
final_result.to_csv('temp.csv', sep=';', index=False)

In [85]:
ad_final.to_csv('ad_final.csv', sep=';', index=False)

In [86]:
resultado = [ad_final.query(f"sql == '{sql}'") for sql, lqs in consulta]
result_df = pd.concat(resultado)
result_df.head(20)

ValueError: too many values to unpack (expected 2)

## Export para excel para as duas pesquisas

In [ ]:
temp = ad_final.query("processo == '1020.2021/0018694-8'")
temp

In [ ]:
temp.query("'Rua Domingos de Morais' in logradouro")

In [ ]:
temp['verificador'] = temp['logradouro'].apply(lambda x: 'ingos' in x)
temp

In [ ]:
type(ad_final)

In [ ]:
result = []
for index, row in df_end_pesquisa.iterrows():
    temp = ad_final.query(f"logradouro_formatado.str.contains('{row['chave_pesquisa']}')")
    result.append(temp)
final_result = pd.concat(result)
final_result

In [ ]:
ad_final.to

## Consulta SQL

In [ ]:
ad = pd.read_excel('ad_localizacoes_raw.csv', sep=';', encoding='latin-1')
ad.info()