In [15]:
import pandas as pd

## Aprova Digital - Planurb

In [16]:
# PLanurb
df_planurb = pd.read_excel('dados_entrada\planurbV2_2024-04-24T12-24-44_prod.xlsx')
df_planurb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19384 entries, 0 to 19383
Data columns (total 38 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Assunto                                  19384 non-null  object
 1   Número do processo                       19384 non-null  object
 2   Número SEI                               19384 non-null  object
 3   Tipo de Uso                              19384 non-null  object
 4   Zonas de Uso                             19384 non-null  object
 5   Status                                   19384 non-null  object
 6   Contagem de unidades                     19384 non-null  object
 7   Data de Criação                          19384 non-null  object
 8   Data de Autuação                         18113 non-null  object
 9   Data de Deferimento                      7164 non-null   object
 10  SQL                                      19384 non-null  object
 11  INCRAs                                   19384 non-null  object
 12  Área Pública                             19384 non-null  object
 13  Endereços                                19384 non-null  object
 14  SubPrefeituras                           19384 non-null  object
 15  Distrito                                 19384 non-null  object
 16  Área Total do Terreno                    19384 non-null  object
 17  Área Construída Total                    19381 non-null  object
 18  Área Existente                           19384 non-null  object
 19  Área à Construir                         19384 non-null  object
 20  Área à Reformar                          19384 non-null  object
 21  Área à Demolir                           19384 non-null  object
 22  Área à Regularizar                       19384 non-null  object
 23  N° de Blocos                             19384 non-null  object
 24  N° de Pavimentos                         19384 non-null  object
 25  N° de Unidades Residenciais              19384 non-null  object
 26  N° de Unidades HIS                       19384 non-null  object
 27  N° de Unidades HIS1                      19384 non-null  object
 28  N° de Unidades HIS2                      19384 non-null  object
 29  N° de Unidades HMP                       19384 non-null  object
 30  N° de Unidades r2h e r2v                 19384 non-null  object
 31  Atividades Não residenciais licenciadas  19384 non-null  object
 32  Proprietário                             19384 non-null  object
 33  Natureza do proprietário                 19384 non-null  object
 34  Link do processo                         19384 non-null  object
 35  Data última versão                       19384 non-null  object
 36  O Processo foi reaberto?                 19384 non-null  object
 37  Data de Finalização                      613 non-null    object
dtypes: object(38)
memory usage: 5.6+ MB

In [17]:
# Limpando a quantidade de colunas
df_planurb_colunas = df_planurb[['Assunto', 'Número do processo', 'Número SEI', 'Data de Deferimento', 'Status', 'N° de Unidades HIS' ,'N° de Unidades HIS1', 'N° de Unidades HIS2', 'N° de Unidades HMP', 'O Processo foi reaberto?', 'Data de Finalização']]
df_planurb_colunas.head()

,Assunto,Número do processo,Número SEI,Data de Deferimento,Status,N° de Unidades HIS,N° de Unidades HIS1,N° de Unidades HIS2,N° de Unidades HMP,O Processo foi reaberto?,Data de Finalização
0,Alvará de Aprovação e Execução de Edificação N...,40672-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,15,Não possui,Não possui,0,Não,NaN
1,Alvará de Aprovação e Execução de Edificação N...,40671-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,12,Não possui,Não possui,0,Não,NaN
2,Alvará de Aprovação e Execução de Edificação N...,40670-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0,Não,NaN
3,Alvará de Aprovação e Execução de Reforma (Exc...,40668-24-SP-REF,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0,Não,NaN
4,Alvará de Aprovação de Edificação Nova (HIS/ HMP),40667-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,132,Não possui,Não possui,0,Não,NaN

In [18]:
df_planurb_colunas['Status'].value_counts()

Status
Em Tramite                9594
Deferido                  7164
Indeferido e Encerrado    1393
Indeferido                1232
Desistido                    1
Name: count, dtype: int64

In [19]:
# Arrumando nome das colunas

df_planurb_assuntos = df_planurb_colunas
df_planurb_assuntos.columns = ['assunto', 'protocolo', 'n_processo', 'data_deferimento', 'status', 'qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp', 'O Processo foi reaberto?', 'Data de Finalização']
df_planurb_assuntos.head()

,assunto,protocolo,n_processo,data_deferimento,status,qtd_his,qtd_his1,qtd_his2,qtd_hmp,O Processo foi reaberto?,Data de Finalização
0,Alvará de Aprovação e Execução de Edificação N...,40672-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,15,Não possui,Não possui,0,Não,NaN
1,Alvará de Aprovação e Execução de Edificação N...,40671-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,12,Não possui,Não possui,0,Não,NaN
2,Alvará de Aprovação e Execução de Edificação N...,40670-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0,Não,NaN
3,Alvará de Aprovação e Execução de Reforma (Exc...,40668-24-SP-REF,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0,Não,NaN
4,Alvará de Aprovação de Edificação Nova (HIS/ HMP),40667-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,132,Não possui,Não possui,0,Não,NaN

In [20]:
# carregando Assuntos a serem filtrados
with open('assuntos.txt', 'r', encoding= "utf-8") as txtfile:
    lista_assuntos = txtfile.readlines()
    lista_assuntos = list(map(lambda x: x[:-1], lista_assuntos))

lista_assuntos

['Alvará de Execução de Edificação Nova (Exceto HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova (Exceto HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova (HIS/ HMP)',
 'Alvará de Aprovação e Execução de Reforma (Exceto HIS e HMP)',
 'Alvará de Execução de Edificação Nova (HIS/ HMP)',
 'Alvará de Desmembramento + Alvará de Aprovação e Execução de Edificação Nova (Plano integrado)',
 'Alvará de Aprovação e Execução de Reforma (HIS/ HMP)',
 'Alvará de Execução de Reforma (Exceto HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova - Processo Declaratório',
 'Alvará de Loteamento + Alvará de Aprovação e Execução de Edificação Nova (Plano Integrado)',
 'Alvará de Execução de Reforma (HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova (HIS/ HMP) - Programa Pode Entrar',
 'Alvará de Execução de Edificação Nova (HIS/ HMP) - Programa Pode Entrar',
 'Alvará de Execução de Reforma (HIS e HMP)']

In [21]:
# Aplicando filtro de assuntos
df_planurb_assuntos_filtrados = df_planurb_assuntos
df_planurb_assuntos_filtrados = df_planurb_assuntos.query("assunto in @lista_assuntos")
df_planurb_assuntos_filtrados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14428 entries, 0 to 19382
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   assunto                   14428 non-null  object
 1   protocolo                 14428 non-null  object
 2   n_processo                14428 non-null  object
 3   data_deferimento          4815 non-null   object
 4   status                    14428 non-null  object
 5   qtd_his                   14428 non-null  object
 6   qtd_his1                  14428 non-null  object
 7   qtd_his2                  14428 non-null  object
 8   qtd_hmp                   14428 non-null  object
 9   O Processo foi reaberto?  14428 non-null  object
 10  Data de Finalização       314 non-null    object
dtypes: object(11)
memory usage: 1.3+ MB

In [22]:
# conversão colunas de valores para int

df_planurb_int = df_planurb_assuntos_filtrados[:]
df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']] = df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']].apply(pd.to_numeric, errors='coerce')
df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']] = df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']].fillna(0).astype(int)
df_planurb_int.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14428 entries, 0 to 19382
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   assunto                   14428 non-null  object
 1   protocolo                 14428 non-null  object
 2   n_processo                14428 non-null  object
 3   data_deferimento          4815 non-null   object
 4   status                    14428 non-null  object
 5   qtd_his                   14428 non-null  int32
 6   qtd_his1                  14428 non-null  int32
 7   qtd_his2                  14428 non-null  int32
 8   qtd_hmp                   14428 non-null  int32
 9   O Processo foi reaberto?  14428 non-null  object
 10  Data de Finalização       314 non-null    object
dtypes: int32(4), object(7)
memory usage: 1.1+ MB

In [23]:
# Separando 2 dataframes, um contendo processos deferidos nunca reabertos e outro contendo processos deferidos reabertos

# Filtrando apenas processos deferidos nunca reabertos e com data de finalização nula
df_planurb_def = df_planurb_int
df_planurb_def = df_planurb_int[(df_planurb_int['status'] == 'Deferido') & 
                                     (df_planurb_int['O Processo foi reaberto?'] == 'Não') & 
                                     (df_planurb_int['Data de Finalização'].isnull())]


# Filtrando apenas processos deferidos, reabertos e com data de finalização não nula
df_planurb_reab = df_planurb_int[(df_planurb_int['status'] == 'Deferido') & 
                                     (df_planurb_int['O Processo foi reaberto?'] == 'Sim') & 
                                     (~df_planurb_int['Data de Finalização'].isnull())]
df_planurb_reab.info()

<class 'pandas.core.frame.DataFrame'>
Index: 207 entries, 2683 to 19377
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   assunto                   207 non-null    object
 1   protocolo                 207 non-null    object
 2   n_processo                207 non-null    object
 3   data_deferimento          207 non-null    object
 4   status                    207 non-null    object
 5   qtd_his                   207 non-null    int32
 6   qtd_his1                  207 non-null    int32
 7   qtd_his2                  207 non-null    int32
 8   qtd_hmp                   207 non-null    int32
 9   O Processo foi reaberto?  207 non-null    object
 10  Data de Finalização       207 non-null    object
dtypes: int32(4), object(7)
memory usage: 16.2+ KB

In [24]:
df_planurb_def.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4082 entries, 466 to 19379
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   assunto                   4082 non-null   object
 1   protocolo                 4082 non-null   object
 2   n_processo                4082 non-null   object
 3   data_deferimento          4082 non-null   object
 4   status                    4082 non-null   object
 5   qtd_his                   4082 non-null   int32
 6   qtd_his1                  4082 non-null   int32
 7   qtd_his2                  4082 non-null   int32
 8   qtd_hmp                   4082 non-null   int32
 9   O Processo foi reaberto?  4082 non-null   object
 10  Data de Finalização       0 non-null      object
dtypes: int32(4), object(7)
memory usage: 318.9+ KB

In [25]:
# criação coluna his_soma
df_planurb_his_total = df_planurb_def.copy()  
df_planurb_his_total.loc[:, 'his_total'] = df_planurb_his_total['qtd_his'] + df_planurb_his_total['qtd_his1'] + df_planurb_his_total['qtd_his2']
df_planurb_his_total = df_planurb_his_total.loc[:, ['assunto', 'protocolo', 'n_processo', 'data_deferimento', 'status', 'qtd_his', 'qtd_his1', 'qtd_his2', 'his_total', 'qtd_hmp', 'O Processo foi reaberto?', 'Data de Finalização']]

# criação coluna his_soma no dataframe de reabertos
df_planurb_his_total_reab = df_planurb_reab.copy()  
df_planurb_his_total_reab.loc[:, 'his_total'] = df_planurb_his_total_reab['qtd_his'] + df_planurb_his_total_reab['qtd_his1'] + df_planurb_his_total_reab['qtd_his2']
df_planurb_his_total_reab = df_planurb_his_total_reab.loc[:, ['assunto', 'protocolo', 'n_processo', 'data_deferimento', 'status', 'qtd_his', 'qtd_his1', 'qtd_his2', 'his_total', 'qtd_hmp', 'O Processo foi reaberto?', 'Data de Finalização']]

In [26]:
df_planurb_his_total_reab.info()

<class 'pandas.core.frame.DataFrame'>
Index: 207 entries, 2683 to 19377
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   assunto                   207 non-null    object
 1   protocolo                 207 non-null    object
 2   n_processo                207 non-null    object
 3   data_deferimento          207 non-null    object
 4   status                    207 non-null    object
 5   qtd_his                   207 non-null    int32
 6   qtd_his1                  207 non-null    int32
 7   qtd_his2                  207 non-null    int32
 8   his_total                 207 non-null    int32
 9   qtd_hmp                   207 non-null    int32
 10  O Processo foi reaberto?  207 non-null    object
 11  Data de Finalização       207 non-null    object
dtypes: int32(5), object(7)
memory usage: 17.0+ KB

In [27]:
# convertendo para date time a coluna data_deferimento
df_planurb_data = df_planurb_his_total[:]
df_planurb_data['data_deferimento'] = pd.to_datetime(df_planurb_data['data_deferimento'], dayfirst=True)


# convertendo para date time a coluna data de finalização
df_planurb_data_reab = df_planurb_his_total_reab[:]
df_planurb_data_reab['Data de Finalização'] = pd.to_datetime(df_planurb_data_reab['Data de Finalização'], dayfirst=True)

In [28]:
# criação do dataframe clean para futura conferencia
df_planurb_clean = df_planurb_data.copy()
df_planurb_clean_reab= df_planurb_data_reab.copy()

In [29]:
# agrupando por mês, utilizando data_deferimento para os processos deferidos nunca reabertos
grouper = pd.Grouper(key='data_deferimento', freq='MS', label='left')
df_planurb_agrupado = df_planurb_data.groupby(grouper)
df_planurb_agrupado = df_planurb_agrupado[['his_total', 'qtd_hmp']].sum()

# agrupando por mês, utilizando Data de Finalização para os processos deferidos reabertos
grouper = pd.Grouper(key='Data de Finalização', freq='MS', label='left')
df_planurb_agrupado_reab = df_planurb_data_reab.groupby(grouper)
df_planurb_agrupado_reab = df_planurb_agrupado_reab[['his_total', 'qtd_hmp']].sum()

In [30]:
# data frame final agrupado dos processos reabertos
df_planurb_agrupado_reab

                     his_total  qtd_hmp
Data de Finalização
2021-10-01                   0        0
2021-11-01                   0        0
2021-12-01                   0        0
2022-01-01                 429      292
2022-02-01                   0        0
2022-03-01                   0        0
2022-04-01                   0        0
2022-05-01                   0        0
2022-06-01                   0        0
2022-07-01                  80      315
2022-08-01                 109      258
2022-09-01                 295     1680
2022-10-01                   0       67
2022-11-01                2065      691
2022-12-01                 216      101
2023-01-01                   0       63
2023-02-01                   0        0
2023-03-01                   0       56
2023-04-01                  20        4
2023-05-01                1217      935
2023-06-01                 231       32
2023-07-01                   0      103
2023-08-01                   0       65
2023-09-01                   0      193
2023-10-01                   0      609
2023-11-01                  15        0
2023-12-01                  24      169
2024-01-01                3795      691
2024-02-01                  30        0
2024-03-01                 290       39
2024-04-01                  35      603

In [31]:
# data frame final agrupado dos processos nunca reabertos
df_planurb_agrupado

                  his_total  qtd_hmp
data_deferimento
2020-11-01                0        0
2020-12-01                0        0
2021-01-01               32      280
2021-02-01              152       45
2021-03-01             1466        8
2021-04-01              339      274
2021-05-01              985       99
2021-06-01              497      157
2021-07-01             1526      559
2021-08-01             1446        5
2021-09-01             2055      271
2021-10-01             1323      495
2021-11-01             1943        0
2021-12-01             2110      599
2022-01-01             1241       50
2022-02-01             1649      273
2022-03-01             1972      100
2022-04-01             2296       84
2022-05-01             1786      476
2022-06-01             2092      144
2022-07-01             4132     1585
2022-08-01             4465      601
2022-09-01             3844      450
2022-10-01             3303      905
2022-11-01             3026      692
2022-12-01             3373      267
2023-01-01             2944      433
2023-02-01             3911      672
2023-03-01             2140      119
2023-04-01             1890      389
2023-05-01             3703      574
2023-06-01             3995      818
2023-07-01             6167      724
2023-08-01             6033      856
2023-09-01             4459       78
2023-10-01             5662      569
2023-11-01             4838      502
2023-12-01             5127      683
2024-01-01             3421      669
2024-02-01             3223      749
2024-03-01             4519     1164
2024-04-01             8262     1574

In [52]:
# agrupando df_planurb_agrupado e df_planurb_agrupado_reab em um único dataframe
df_planurb_agrupado_final = pd.concat([df_planurb_agrupado, df_planurb_agrupado_reab], axis=1)

# convertendo nulls para 0 e convertendo para int
df_planurb_agrupado_final = df_planurb_agrupado_final.fillna(0).astype(int)

# renomeando coluna 3 para "his_total_reaberto" e coluna 4 para "qtd_hmp_reaberto"
df_planurb_agrupado_final.columns = ['his_total_nunca_reaberto', 'qtd_hmp_nunca_reaberto', 'his_total_reaberto', 'qtd_hmp_reaberto']

# criação de uma nova coluna chamado his_total_final e qtd_hmp_final que é a soma das colunas his_total e his_total_reaberto e qtd_hmp e qtd_hmp_reaberto
df_planurb_agrupado_final['his_total_final'] = df_planurb_agrupado_final['his_total_nunca_reaberto'] + df_planurb_agrupado_final['his_total_reaberto']
df_planurb_agrupado_final['qtd_hmp_final'] = df_planurb_agrupado_final['qtd_hmp_nunca_reaberto'] + df_planurb_agrupado_final['qtd_hmp_reaberto']

# reordenando as colunas
df_planurb_agrupado_final = df_planurb_agrupado_final[['his_total_nunca_reaberto', 'his_total_reaberto', 'his_total_final', 'qtd_hmp_nunca_reaberto', 'qtd_hmp_reaberto', 'qtd_hmp_final']]

In [53]:
df_planurb_agrupado_final

,his_total_nunca_reaberto,his_total_reaberto,his_total_final,qtd_hmp_nunca_reaberto,qtd_hmp_reaberto,qtd_hmp_final
2020-11-01,0,0,0,0,0,0
2020-12-01,0,0,0,0,0,0
2021-01-01,32,0,32,280,0,280
2021-02-01,152,0,152,45,0,45
2021-03-01,1466,0,1466,8,0,8
2021-04-01,339,0,339,274,0,274
2021-05-01,985,0,985,99,0,99
2021-06-01,497,0,497,157,0,157
2021-07-01,1526,0,1526,559,0,559
2021-08-01,1446,0,1446,5,0,5
2021-09-01,2055,0,2055,271,0,271
2021-10-01,1323,0,1323,495,0,495
2021-11-01,1943,0,1943,0,0,0
2021-12-01,2110,0,2110,599,0,599
2022-01-01,1241,429,1670,50,292,342
2022-02-01,1649,0,1649,273,0,273
2022-03-01,1972,0,1972,100,0,100
2022-04-01,2296,0,2296,84,0,84
2022-05-01,1786,0,1786,476,0,476
2022-06-01,2092,0,2092,144,0,144
2022-07-01,4132,80,4212,1585,315,1900
2022-08-01,4465,109,4574,601,258,859
2022-09-01,3844,295,4139,450,1680,2130
2022-10-01,3303,0,3303,905,67,972
2022-11-01,3026,2065,5091,692,691,1383
2022-12-01,3373,216,3589,267,101,368
2023-01-01,2944,0,2944,433,63,496
2023-02-01,3911,0,3911,672,0,672
2023-03-01,2140,0,2140,119,56,175
2023-04-01,1890,20,1910,389,4,393
2023-05-01,3703,1217,4920,574,935,1509
2023-06-01,3995,231,4226,818,32,850
2023-07-01,6167,0,6167,724,103,827
2023-08-01,6033,0,6033,856,65,921
2023-09-01,4459,0,4459,78,193,271
2023-10-01,5662,0,5662,569,609,1178
2023-11-01,4838,15,4853,502,0,502
2023-12-01,5127,24,5151,683,169,852
2024-01-01,3421,3795,7216,669,691,1360
2024-02-01,3223,30,3253,749,0,749
2024-03-01,4519,290,4809,1164,39,1203
2024-04-01,8262,35,8297,1574,603,2177

In [34]:
# dataframe final dados pré agrupamento
df_planurb_clean

,assunto,protocolo,n_processo,data_deferimento,status,qtd_his,qtd_his1,qtd_his2,his_total,qtd_hmp,O Processo foi reaberto?,Data de Finalização
466,Alvará de Execução de Reforma (Exceto HIS/ HMP),39703-24-SP-REF,1020.2024/0007709-5,2024-04-16 15:03:34,Deferido,0,0,0,0,0,Não,NaN
551,Alvará de Execução de Edificação Nova (HIS/ HMP),39538-24-SP-ALV,1020.2024/0007053-8,2024-04-23 14:33:10,Deferido,0,0,0,0,115,Não,NaN
630,Alvará de Aprovação e Execução de Reforma (Exc...,39366-24-SP-REF,1020.2024/0007119-4,2024-04-19 14:05:43,Deferido,0,0,0,0,0,Não,NaN
634,Alvará de Execução de Edificação Nova (HIS/ HMP),39361-24-SP-ALV,1020.2024/0006585-2,2024-04-23 13:16:25,Deferido,0,0,0,0,166,Não,NaN
670,Alvará de Execução de Edificação Nova (HIS/ HMP),39287-24-SP-ALV,1020.2024/0006482-1,2024-04-22 11:45:35,Deferido,119,0,0,119,0,Não,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19370,Alvará de Aprovação e Execução de Edificação N...,27-20-SP-SAO,1010.2020/0007462-0,2021-10-19 11:58:37,Deferido,17,0,0,17,0,Não,NaN
19372,Alvará de Aprovação e Execução de Edificação N...,24-20-SP-SAO,1010.2020/0007370-5,2021-10-26 16:17:35,Deferido,15,0,0,15,0,Não,NaN
19374,Alvará de Aprovação e Execução de Edificação N...,19-20-SP-SAO,1010.2020/0006853-1,2024-01-10 18:49:45,Deferido,16,0,0,16,0,Não,NaN
19378,Alvará de Aprovação e Execução de Edificação N...,8-20-SP-SAO,1010.2020/0006558-3,2022-05-06 21:54:16,Deferido,26,0,0,26,0,Não,NaN
19379,Alvará de Aprovação e Execução de Edificação N...,7-20-SP-SAO,1010.2020/0006787-0,2021-04-28 11:36:57,Deferido,0,0,0,0,0,Não,NaN

In [35]:
# dataframe final dados pré agrupamento reabertos
df_planurb_clean_reab

,assunto,protocolo,n_processo,data_deferimento,status,qtd_his,qtd_his1,qtd_his2,his_total,qtd_hmp,O Processo foi reaberto?,Data de Finalização
2683,Alvará de Aprovação e Execução de Edificação N...,35325-23-SP-ALV,1020.2023/0024703-7,18/01/2024 16:30:40,Deferido,35,0,0,35,8,Sim,2024-04-01 14:20:19
3304,Alvará de Execução de Edificação Nova (HIS/ HMP),34223-23-SP-ALV,1020.2023/0021394-9,12/12/2023 15:09:50,Deferido,399,0,0,399,600,Sim,2024-01-18 13:14:38
4799,Alvará de Execução de Edificação Nova (HIS/ HMP),31231-23-SP-ALV,1020.2023/0014767-9,06/10/2023 14:02:49,Deferido,0,0,0,0,518,Sim,2024-04-18 13:25:32
5455,Alvará de Execução de Edificação Nova (Exceto ...,29966-23-SP-ALV,1020.2023/0012301-0,27/11/2023 18:52:06,Deferido,0,0,0,0,0,Sim,2024-04-17 12:30:56
5595,Alvará de Aprovação e Execução de Reforma (HIS...,29715-23-SP-REF,1020.2023/0011141-0,09/08/2023 15:38:41,Deferido,12,0,0,12,0,Sim,2023-12-07 19:16:06
...,...,...,...,...,...,...,...,...,...,...,...,...
19040,Alvará de Desmembramento + Alvará de Aprovação...,676-20-SP-INT,1020.2020/0015421-1,01/10/2021 10:16:12,Deferido,417,0,0,417,0,Sim,2022-01-14 14:34:02
19340,Alvará de Execução de Edificação Nova (Exceto ...,84-20-SP-SAO,1010.2020/0007943-6,15/02/2021 10:26:21,Deferido,0,0,0,0,0,Sim,2023-10-11 17:05:54
19352,Alvará de Aprovação e Execução de Reforma (Exc...,60-20-SP-SAO,1010.2020/0007924-0,09/09/2022 14:46:41,Deferido,0,0,0,0,0,Sim,2023-08-07 16:26:47
19355,Alvará de Aprovação e Execução de Edificação N...,52-20-SP-SAO,1010.2020/0007567-8,10/12/2021 13:14:11,Deferido,0,0,0,0,0,Sim,2021-12-10 13:18:18
19377,Alvará de Aprovação e Execução de Edificação N...,16-20-SP-SAO,1010.2020/0006790-0,04/08/2021 15:19:58,Deferido,0,0,0,0,0,Sim,2022-07-20 16:31:56

In [36]:
df_planurb_agrupado_final.to_excel('dados_saida/ad_his_hmp_mes_v2.xlsx', index = True)
df_planurb_clean.to_excel('dados_saida/ad_lista_processos_deferidos.xlsx', index = False)
df_planurb_clean_reab.to_excel('dados_saida/ad_lista_processos_reabertos.xlsx', index = False)

## SISSEL

In [37]:
# SISSEL
df_sissel = pd.read_excel('dados_entrada\AlvaraseAutos.xlsx')
df_sissel['his_total'] = None
df_sissel.head()

,SQLouINCRA,Tipo,Processo,Unidade,Reg. Func.,Nome do Funcionário,Cód. Assunto,Cód. Aditivo,Ordem,Assunto,...,HMP,R2V-04,R2H,IND-1A,R2V-01,NR3,R2V-02,NR2-2,NR2-1,his_total
0,8253000057,1,201800020470,SMUL/COMIN,D805975,MARCOS ROBERTO WALDER,49,5,1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,8319000335,1,201001271536,SMUL/COMIN,D810101,THIAGO BRAGA LAGONEGRO,49,5,1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,10152600808,1,1010202000028408,SMUL/CONTRU/DSUS,D501272,GERALDO UCILO BORGHI,19,0,1,CERTIFICADO DE SEGURANCA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,1904300693,1,1010202000041056,SMUL/CONTRU/DSUS,D628996,ALONIR RAMOS DOS SANTOS,19,0,1,CERTIFICADO DE SEGURANCA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,0,0,6068202100026890,SMUL/CONTRU/DSUS,D806410,RENATO PEDROSO DOS SANTOS,3000,1011,0,Certificado de Manutenção,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [38]:
# Limpando a quantidade de colunas
df_sissel_colunas = df_sissel[['Assunto', 'Processo', 'Data Emissão', 'his_total' ,'HIS1', 'HIS2', 'HMP']]
df_sissel_colunas.head()

,Assunto,Processo,Data Emissão,his_total,HIS1,HIS2,HMP
0,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800020470,04/01/2024,None,NaN,NaN,NaN
1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201001271536,23/01/2024,None,NaN,NaN,NaN
2,CERTIFICADO DE SEGURANCA,1010202000028408,02/02/2024,None,NaN,NaN,NaN
3,CERTIFICADO DE SEGURANCA,1010202000041056,15/02/2024,None,NaN,NaN,NaN
4,Certificado de Manutenção,6068202100026890,23/02/2024,None,NaN,NaN,NaN

In [39]:
df_sissel_colunas['Assunto'].value_counts()

Assunto
APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA              9
RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA    8
ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA                               6
PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA       5
RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVACAO DE EDIFICACAO NOVA            5
ALVARA DE APROVACAO DE EDIFICACAO NOVA                                          4
RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVACAO E EXECUCAO DE REFORMA         3
RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE SEGURANCA                          3
CERTIFICADO DE SEGURANCA                                                        2
RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVACAO DE REFORMA                    2
Certificado de Manutenção                                                       1
Processo de Recurso de Despacho de Certificado de Manutenção                    1
Reconsideração do Certificado de Manutenção                                     1
ALVARA DE APROVACAO E EXECUCAO DE REFORMA                                       1
Processo de Inscrição do Cadastro de Manutenção - FICAM                         1
Processo de Apostilamento da Ficha de Inscrição do Cadastro de Manutenção       1
Name: count, dtype: int64

In [40]:
df_sissel_colunas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Assunto       53 non-null     object
 1   Processo      53 non-null     int64
 2   Data Emissão  53 non-null     object
 3   his_total     0 non-null      object
 4   HIS1          4 non-null      float64
 5   HIS2          15 non-null     float64
 6   HMP           7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ KB

In [41]:
# arrumando nome das colunas
df_sissel_colunas.columns = ['assunto', 'n_processo', 'data_deferimento', 'his_total', 'qtd_his1', 'qtd_his2', 'qtd_hmp']
df_sissel_colunas.head()

,assunto,n_processo,data_deferimento,his_total,qtd_his1,qtd_his2,qtd_hmp
0,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800020470,04/01/2024,None,NaN,NaN,NaN
1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201001271536,23/01/2024,None,NaN,NaN,NaN
2,CERTIFICADO DE SEGURANCA,1010202000028408,02/02/2024,None,NaN,NaN,NaN
3,CERTIFICADO DE SEGURANCA,1010202000041056,15/02/2024,None,NaN,NaN,NaN
4,Certificado de Manutenção,6068202100026890,23/02/2024,None,NaN,NaN,NaN

In [42]:
# transformando em date time
df_sissel_data = df_sissel_colunas[:]
df_sissel_data['data_deferimento'] = pd.to_datetime(df_sissel_data['data_deferimento'], dayfirst=True)
df_sissel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assunto           53 non-null     object
 1   n_processo        53 non-null     int64
 2   data_deferimento  53 non-null     datetime64[ns]
 3   his_total         0 non-null      object
 4   qtd_his1          4 non-null      float64
 5   qtd_his2          15 non-null     float64
 6   qtd_hmp           7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 3.0+ KB

In [43]:
# remocao dos nans e conversao dos valores float para int
df_sissel_conv = df_sissel_data
df_sissel_conv = df_sissel_conv.fillna(0)
df_sissel_conv['his_total'] = df_sissel_conv['his_total'].astype(int)
df_sissel_conv['qtd_his1'] = df_sissel_conv['qtd_his1'].astype(int)
df_sissel_conv['qtd_his2'] = df_sissel_conv['qtd_his2'].astype(int)
df_sissel_conv['qtd_hmp'] = df_sissel_conv['qtd_hmp'].astype(int)

soma_his1 = df_sissel_conv['his_total'].sum()
soma_his1 = df_sissel_conv['qtd_his1'].sum()
soma_his2 = df_sissel_conv['qtd_his2'].sum()
soma_hmp = df_sissel_conv['qtd_hmp'].sum()

soma_his1, soma_his2, soma_hmp

(491, 1088, 633)

In [44]:
# criação coluna his_soma

df_sissel_soma = df_sissel_conv.copy()  
df_sissel_soma.loc[:, 'his_total'] = df_sissel_soma['qtd_his1'] + df_sissel_soma['qtd_his2']
df_sissel_soma = df_sissel_soma.loc[:, ['assunto', 'n_processo', 'data_deferimento', 'qtd_his1', 'qtd_his2', 'his_total','qtd_hmp']]

In [45]:
# criação do dataframe clean para futura conferencia

df_sissel_clean = df_sissel_soma.copy()

In [46]:
# agrupando por mês
grouper = pd.Grouper(key='data_deferimento', freq='MS', label='left')
df_sissel_agrupado = df_sissel_clean.groupby(grouper)
df_sissel_agrupado = df_sissel_agrupado[['his_total', 'qtd_hmp']].sum()

In [47]:
df_sissel_agrupado

                  his_total  qtd_hmp
data_deferimento
2024-01-01              856      216
2024-02-01              723      417

In [48]:
df_sissel_clean

,assunto,n_processo,data_deferimento,qtd_his1,qtd_his2,his_total,qtd_hmp
0,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800020470,2024-01-04,0,0,0,0
1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201001271536,2024-01-23,0,0,0,0
2,CERTIFICADO DE SEGURANCA,1010202000028408,2024-02-02,0,0,0,0
3,CERTIFICADO DE SEGURANCA,1010202000041056,2024-02-15,0,0,0,0
4,Certificado de Manutenção,6068202100026890,2024-02-23,0,0,0,0
5,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE S...,1010201900023986,2024-01-12,0,0,0,0
6,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,201800924840,2024-01-19,0,0,0,0
7,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE S...,1010202000051124,2024-01-03,0,0,0,0
8,Processo de Recurso de Despacho de Certificado...,6068202100072018,2024-01-03,0,0,0,0
9,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201701029495,2024-01-05,0,0,0,0
10,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202200041599,2024-01-31,0,0,0,0
11,ALVARA DE APROVACAO DE EDIFICACAO NOVA,1010202200080640,2024-01-19,0,0,0,0
12,Reconsideração do Certificado de Manutenção,6068202200105171,2024-01-03,0,0,0,0
13,ALVARA DE APROVACAO E EXECUCAO DE REFORMA,202100001112,2024-02-14,0,88,88,0
14,Processo de Inscrição do Cadastro de Manutençã...,1010202300073042,2024-01-12,0,0,0,0
15,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202300011209,2024-01-22,0,290,290,0
16,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,202100023183,2024-02-14,147,0,147,0
17,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202300014844,2024-01-03,0,11,11,4
18,ALVARA DE APROVACAO DE EDIFICACAO NOVA,6068202300034403,2024-01-30,0,0,0,431
19,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,6068202200102016,2024-01-03,245,81,326,81
20,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200056804,2024-02-21,0,0,0,0
21,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE S...,201800829805,2024-01-16,0,0,0,0
22,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,1010202300026257,2024-01-15,0,0,0,0
23,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202200105082,2024-01-17,0,0,0,0
24,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,6068202300073794,2024-01-18,15,7,22,0
25,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202300029035,2024-02-02,0,-296,-296,288
26,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,6068202300019838,2024-02-06,0,0,0,9
27,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,1010202300051588,2024-02-05,0,0,0,0
28,ALVARA DE APROVACAO DE EDIFICACAO NOVA,1010202200053040,2024-01-23,0,0,0,0
29,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200073687,2024-01-10,0,0,0,0
30,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300026656,2024-02-05,0,0,0,0
31,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200062740,2024-02-16,0,54,54,0
32,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,1010202300069177,2024-02-21,0,0,0,0
33,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201900336550,2024-02-02,0,340,340,0
34,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,6068202200039870,2024-02-14,0,12,12,0
35,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300107150,2024-01-12,0,0,0,-300
36,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,201801107668,2024-02-06,0,20,20,0
37,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300097375,2024-01-15,0,48,48,0
38,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300114245,2024-01-24,0,159,159,0
39,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,201800077323,2024-01-29,0,0,0,0
40,Processo de Apostilamento da Ficha de Inscriçã...,6068202400006509,2024-02-05,0,0,0,0
41,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200005029,2024-02-05,0,0,0,0
42,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800538363,2024-02-22,0,0,0,0
43,ALVARA DE APROVACAO DE EDIFICACAO NOVA,202000086698,2024-02-23,0,0,0,0
44,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202400000497,2024-02-07,0,252,252,120
45,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300110070,2024-02-06,0,0,0,0
46,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201801036485,2024-02-09,0,0,0,0
47,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300102093,2024-02-23,0,0,0,0
48,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300106927,2024-02-15,84,0,84,0
49,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300114121,2024-02-20,0,16,16,0
50,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,202000089786,2024-02-22,0,6,6,0
51,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,1010202300059988,2024-02-29,0,0,0,0
52,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,1010202300035280,2024-02-29,0,0,0,0

In [49]:
df_sissel_agrupado.to_excel('dados_saida/sissel_his_hmp_mes.xlsx', index = True)
df_sissel_clean.to_excel('dados_saida/sissel_analise.xlsx', index = False)