In [1]:
import pandas as pd

## Aprova Digital - Planurb

In [2]:
# PLanurb
df_planurb = pd.read_excel('dados_entrada\planurbV2_2024-02-05T16-31-31_prod.xlsx')
df_planurb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18061 entries, 0 to 18060
Data columns (total 37 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Assunto                                  18061 non-null  object
 1   Número do processo                       18061 non-null  object
 2   Número SEI                               18061 non-null  object
 3   Tipo de Uso                              18061 non-null  object
 4   Zonas de Uso                             18061 non-null  object
 5   Status                                   18061 non-null  object
 6   Contagem de unidades                     18061 non-null  object
 7   Data de Criação                          18061 non-null  object
 8   Data de Autuação                         16899 non-null  object
 9   Data de Deferimento                      6325 non-null   object
 10  SQL                                      18061 non-null  object
 11  INCRAs                                   18061 non-null  object
 12  Área Pública                             18061 non-null  object
 13  Endereços                                18061 non-null  object
 14  SubPrefeituras                           18061 non-null  object
 15  Distrito                                 18061 non-null  object
 16  Área Total do Terreno                    18061 non-null  object
 17  Área Construída Total                    18058 non-null  object
 18  Área Existente                           18061 non-null  object
 19  Área à Construir                         18061 non-null  object
 20  Área à Reformar                          18061 non-null  object
 21  Área à Demolir                           18061 non-null  object
 22  Área à Regularizar                       18061 non-null  object
 23  N° de Blocos                             18061 non-null  object
 24  N° de Pavimentos                         18061 non-null  object
 25  N° de Unidades Residenciais              18061 non-null  object
 26  N° de Unidades HIS                       18061 non-null  object
 27  N° de Unidades HIS1                      18061 non-null  object
 28  N° de Unidades HIS2                      18061 non-null  object
 29  N° de Unidades HMP                       18061 non-null  object
 30  N° de Unidades r2h e r2v                 18061 non-null  object
 31  Atividades Não residenciais licenciadas  18061 non-null  object
 32  Proprietário                             18061 non-null  object
 33  Natureza do proprietário                 18061 non-null  object
 34  Link do processo                         18061 non-null  object
 35  Data última versão                       18061 non-null  object
 36  O Processo foi reaberto?                 18061 non-null  object
dtypes: object(37)
memory usage: 5.1+ MB

In [3]:
# Limpando a quantidade de colunas
df_planurb_colunas = df_planurb[['Assunto', 'Número do processo', 'Número SEI', 'Data de Deferimento', 'Status', 'N° de Unidades HIS' ,'N° de Unidades HIS1', 'N° de Unidades HIS2', 'N° de Unidades HMP']]
df_planurb_colunas.head()

,Assunto,Número do processo,Número SEI,Data de Deferimento,Status,N° de Unidades HIS,N° de Unidades HIS1,N° de Unidades HIS2,N° de Unidades HMP
0,Alvará de Execução de Edificação Nova (Exceto ...,37746-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0
1,Certificado de Conclusão,37743-24-SP-CCE,SEI Não Criado,NaN,Em Tramite,Não possui,Não possui,Não possui,Não possui
2,Alvará de Execução de Edificação Nova (Exceto ...,37737-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0
3,Alvará de Aprovação e Execução de Edificação N...,37736-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0
4,Alvará de Aprovação e Execução de Edificação N...,37735-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0

In [4]:
df_planurb_colunas['Status'].value_counts()

Status
Em Tramite                9332
Deferido                  6325
Indeferido e Encerrado    1335
Indeferido                1068
Desistido                    1
Name: count, dtype: int64

In [5]:
# Arrumando nome das colunas

df_planurb_assuntos = df_planurb_colunas
df_planurb_assuntos.columns = ['assunto', 'protocolo', 'n_processo', 'data_deferimento', 'status', 'qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']
df_planurb_assuntos.head()

,assunto,protocolo,n_processo,data_deferimento,status,qtd_his,qtd_his1,qtd_his2,qtd_hmp
0,Alvará de Execução de Edificação Nova (Exceto ...,37746-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0
1,Certificado de Conclusão,37743-24-SP-CCE,SEI Não Criado,NaN,Em Tramite,Não possui,Não possui,Não possui,Não possui
2,Alvará de Execução de Edificação Nova (Exceto ...,37737-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0
3,Alvará de Aprovação e Execução de Edificação N...,37736-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0
4,Alvará de Aprovação e Execução de Edificação N...,37735-24-SP-ALV,SEI Não Criado,NaN,Em Tramite,0,Não possui,Não possui,0

In [6]:
# Filtrando apenas processos deferidos
df_planurb_def = df_planurb_assuntos
df_planurb_def = df_planurb_colunas.query("status == 'Deferido'")
df_planurb_def.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6325 entries, 231 to 18060
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assunto           6325 non-null   object
 1   protocolo         6325 non-null   object
 2   n_processo        6325 non-null   object
 3   data_deferimento  6325 non-null   object
 4   status            6325 non-null   object
 5   qtd_his           6325 non-null   object
 6   qtd_his1          6325 non-null   object
 7   qtd_his2          6325 non-null   object
 8   qtd_hmp           6325 non-null   object
dtypes: object(9)
memory usage: 494.1+ KB

In [7]:
# carregando Assuntos a serem filtrados
with open('assuntos.txt', 'r') as txtfile:
    lista_assuntos = txtfile.readlines()
    lista_assuntos = list(map(lambda x: x[:-1], lista_assuntos))

lista_assuntos

['Alvará de Execução de Edificação Nova (Exceto HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova (Exceto HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova (HIS/ HMP)',
 'Alvará de Aprovação e Execução de Reforma (Exceto HIS e HMP)',
 'Alvará de Execução de Edificação Nova (HIS/ HMP)',
 'Alvará de Desmembramento + Alvará de Aprovação e Execução de Edificação Nova (Plano integrado)',
 'Alvará de Aprovação e Execução de Reforma (HIS/ HMP)',
 'Alvará de Execução de Reforma (Exceto HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova - Processo Declaratório',
 'Alvará de Loteamento + Alvará de Aprovação e Execução de Edificação Nova (Plano Integrado)',
 'Alvará de Execução de Reforma (HIS/ HMP)',
 'Alvará de Aprovação e Execução de Edificação Nova (HIS/ HMP) - Programa Pode Entrar',
 'Alvará de Execução de Edificação Nova (HIS/ HMP) - Programa Pode Entrar',
 'Alvará de Execução de Reforma (HIS e HMP)']

In [8]:
# Aplicando filtro de assuntos
df_planurb_assuntos_filtrados = df_planurb_def
df_planurb_assuntos_filtrados = df_planurb_def.query("assunto in @lista_assuntos")
df_planurb_assuntos_filtrados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4365 entries, 281 to 18056
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assunto           4365 non-null   object
 1   protocolo         4365 non-null   object
 2   n_processo        4365 non-null   object
 3   data_deferimento  4365 non-null   object
 4   status            4365 non-null   object
 5   qtd_his           4365 non-null   object
 6   qtd_his1          4365 non-null   object
 7   qtd_his2          4365 non-null   object
 8   qtd_hmp           4365 non-null   object
dtypes: object(9)
memory usage: 341.0+ KB

In [9]:
# conversão colunas de valores para int

df_planurb_int = df_planurb_assuntos_filtrados[:]
df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']] = df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']].apply(pd.to_numeric, errors='coerce')
df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']] = df_planurb_int[['qtd_his', 'qtd_his1', 'qtd_his2', 'qtd_hmp']].fillna(0).astype(int)
df_planurb_int.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4365 entries, 281 to 18056
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assunto           4365 non-null   object
 1   protocolo         4365 non-null   object
 2   n_processo        4365 non-null   object
 3   data_deferimento  4365 non-null   object
 4   status            4365 non-null   object
 5   qtd_his           4365 non-null   int32
 6   qtd_his1          4365 non-null   int32
 7   qtd_his2          4365 non-null   int32
 8   qtd_hmp           4365 non-null   int32
dtypes: int32(4), object(5)
memory usage: 272.8+ KB

In [10]:
# criação coluna his_soma

df_planurb_his_total = df_planurb_int.copy()  
df_planurb_his_total.loc[:, 'his_total'] = df_planurb_his_total['qtd_his'] + df_planurb_his_total['qtd_his1'] + df_planurb_his_total['qtd_his2']
df_planurb_his_total = df_planurb_his_total.loc[:, ['assunto', 'protocolo', 'n_processo', 'data_deferimento', 'status', 'qtd_his', 'qtd_his1', 'qtd_his2', 'his_total', 'qtd_hmp']]

In [11]:
# convertendo para date time
df_planurb_data = df_planurb_his_total[:]
df_planurb_data['data_deferimento'] = pd.to_datetime(df_planurb_data['data_deferimento'], dayfirst=True)
df_planurb_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4365 entries, 281 to 18056
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assunto           4365 non-null   object
 1   protocolo         4365 non-null   object
 2   n_processo        4365 non-null   object
 3   data_deferimento  4365 non-null   datetime64[ns]
 4   status            4365 non-null   object
 5   qtd_his           4365 non-null   int32
 6   qtd_his1          4365 non-null   int32
 7   qtd_his2          4365 non-null   int32
 8   his_total         4365 non-null   int32
 9   qtd_hmp           4365 non-null   int32
dtypes: datetime64[ns](1), int32(5), object(4)
memory usage: 289.9+ KB

In [12]:
# criação do dataframe clean para futura conferencia
df_planurb_clean = df_planurb_data.copy()

In [13]:
# agrupando por mês
grouper = pd.Grouper(key='data_deferimento', freq='MS', label='left')
df_planurb_agrupado = df_planurb_data.groupby(grouper)
df_planurb_agrupado = df_planurb_agrupado[['his_total', 'qtd_hmp']].sum()

In [14]:
# data frame final agrupado
df_planurb_agrupado

                  his_total  qtd_hmp
data_deferimento
2020-11-01                0        0
2020-12-01              102        0
2021-01-01             1212      727
2021-02-01             1204      252
2021-03-01             1156        0
2021-04-01              623      661
2021-05-01              598       96
2021-06-01             1182      660
2021-07-01              919     1264
2021-08-01             1047      296
2021-09-01             2528      343
2021-10-01             3018      900
2021-11-01             5128      341
2021-12-01             2515     1185
2022-01-01             1004      279
2022-02-01             3405      599
2022-03-01             1949      315
2022-04-01             3346     2218
2022-05-01             2132      657
2022-06-01             2502     1340
2022-07-01             6272     2267
2022-08-01             4304     1052
2022-09-01             3944      603
2022-10-01             3719      902
2022-11-01             5115      997
2022-12-01            11987      830
2023-01-01             3857      618
2023-02-01             4220      901
2023-03-01             2966      394
2023-04-01             3038      520
2023-05-01             3759      735
2023-06-01             3618     1077
2023-07-01             7234     1096
2023-08-01            11178     1429
2023-09-01             6369      452
2023-10-01             6532      700
2023-11-01             6674      604
2023-12-01             5325     1317
2024-01-01             3734      669
2024-02-01              765      209

In [15]:
#data frame final dados pré agrupamento
df_planurb_clean

,assunto,protocolo,n_processo,data_deferimento,status,qtd_his,qtd_his1,qtd_his2,his_total,qtd_hmp
281,Alvará de Aprovação e Execução de Edificação N...,37153-24-SP-ALV,1020.2024/0001583-9,2024-01-16 16:56:57,Deferido,0,0,0,0,0
296,Alvará de Aprovação e Execução de Edificação N...,37119-24-SP-ALV,1020.2024/0001474-3,2024-01-15 19:23:21,Deferido,0,0,0,0,0
297,Alvará de Execução de Edificação Nova (Exceto ...,37118-24-SP-ALV,1020.2024/0002096-4,2024-01-30 17:32:22,Deferido,0,0,0,0,0
309,Alvará de Aprovação e Execução de Edificação N...,37092-24-SP-ALV,1020.2024/0001852-8,2024-01-31 11:36:14,Deferido,200,0,0,200,0
376,Alvará de Execução de Edificação Nova (Exceto ...,36981-24-SP-ALV,1020.2024/0001817-0,2024-01-31 11:39:11,Deferido,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
18050,Alvará de Execução de Edificação Nova (HIS/ HMP),22-20-SP-SAO,1010.2020/0007037-4,2020-12-14 13:40:10,Deferido,102,0,0,102,0
18051,Alvará de Aprovação e Execução de Edificação N...,19-20-SP-SAO,1010.2020/0006853-1,2024-01-10 18:49:45,Deferido,16,0,0,16,0
18054,Alvará de Aprovação e Execução de Edificação N...,16-20-SP-SAO,1010.2020/0006790-0,2021-08-04 15:19:58,Deferido,0,0,0,0,0
18055,Alvará de Aprovação e Execução de Edificação N...,8-20-SP-SAO,1010.2020/0006558-3,2022-05-06 21:54:16,Deferido,26,0,0,26,0
18056,Alvará de Aprovação e Execução de Edificação N...,7-20-SP-SAO,1010.2020/0006787-0,2021-04-28 11:36:57,Deferido,0,0,0,0,0

In [16]:
df_planurb_agrupado.to_excel('dados_saida/ad_his_hmp_mes.xlsx', index = True)
df_planurb_clean.to_excel('dados_saida/ad_analise.xlsx', index = False)

## SISSEL

In [19]:
# SISSEL
df_sissel = pd.read_excel('dados_entrada\AlvaraseAutos.xlsx')
df_sissel['his_total'] = None
df_sissel.head()

,SQLouINCRA,Tipo,Processo,Unidade,Reg. Func.,Nome do Funcionário,Cód. Assunto,Cód. Aditivo,Ordem,Assunto,...,HMP,R2V-04,R2H,IND-1A,R2V-01,NR3,R2V-02,NR2-2,NR2-1,his_total
0,8253000057,1,201800020470,SMUL/COMIN,D805975,MARCOS ROBERTO WALDER,49,5,1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,8319000335,1,201001271536,SMUL/COMIN,D810101,THIAGO BRAGA LAGONEGRO,49,5,1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,10152600808,1,1010202000028408,SMUL/CONTRU/DSUS,D501272,GERALDO UCILO BORGHI,19,0,1,CERTIFICADO DE SEGURANCA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,1904300693,1,1010202000041056,SMUL/CONTRU/DSUS,D628996,ALONIR RAMOS DOS SANTOS,19,0,1,CERTIFICADO DE SEGURANCA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,0,0,6068202100026890,SMUL/CONTRU/DSUS,D806410,RENATO PEDROSO DOS SANTOS,3000,1011,0,Certificado de Manutenção,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [20]:
# Limpando a quantidade de colunas
df_sissel_colunas = df_sissel[['Assunto', 'Processo', 'Data Emissão', 'his_total' ,'HIS1', 'HIS2', 'HMP']]
df_sissel_colunas.head()

,Assunto,Processo,Data Emissão,his_total,HIS1,HIS2,HMP
0,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800020470,04/01/2024,None,NaN,NaN,NaN
1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201001271536,23/01/2024,None,NaN,NaN,NaN
2,CERTIFICADO DE SEGURANCA,1010202000028408,02/02/2024,None,NaN,NaN,NaN
3,CERTIFICADO DE SEGURANCA,1010202000041056,15/02/2024,None,NaN,NaN,NaN
4,Certificado de Manutenção,6068202100026890,23/02/2024,None,NaN,NaN,NaN

In [21]:
df_sissel_colunas['Assunto'].value_counts()

Assunto
APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA              9
RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA    8
ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA                               6
PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA       5
RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVACAO DE EDIFICACAO NOVA            5
ALVARA DE APROVACAO DE EDIFICACAO NOVA                                          4
RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVACAO E EXECUCAO DE REFORMA         3
RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE SEGURANCA                          3
CERTIFICADO DE SEGURANCA                                                        2
RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVACAO DE REFORMA                    2
Certificado de Manutenção                                                       1
Processo de Recurso de Despacho de Certificado de Manutenção                    1
Reconsideração do Certificado de Manutenção                                     1
ALVARA DE APROVACAO E EXECUCAO DE REFORMA                                       1
Processo de Inscrição do Cadastro de Manutenção - FICAM                         1
Processo de Apostilamento da Ficha de Inscrição do Cadastro de Manutenção       1
Name: count, dtype: int64

In [22]:
df_sissel_colunas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Assunto       53 non-null     object
 1   Processo      53 non-null     int64
 2   Data Emissão  53 non-null     object
 3   his_total     0 non-null      object
 4   HIS1          4 non-null      float64
 5   HIS2          15 non-null     float64
 6   HMP           7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 3.0+ KB

In [23]:
# arrumando nome das colunas
df_sissel_colunas.columns = ['assunto', 'n_processo', 'data_deferimento', 'his_total', 'qtd_his1', 'qtd_his2', 'qtd_hmp']
df_sissel_colunas.head()

,assunto,n_processo,data_deferimento,his_total,qtd_his1,qtd_his2,qtd_hmp
0,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800020470,04/01/2024,None,NaN,NaN,NaN
1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201001271536,23/01/2024,None,NaN,NaN,NaN
2,CERTIFICADO DE SEGURANCA,1010202000028408,02/02/2024,None,NaN,NaN,NaN
3,CERTIFICADO DE SEGURANCA,1010202000041056,15/02/2024,None,NaN,NaN,NaN
4,Certificado de Manutenção,6068202100026890,23/02/2024,None,NaN,NaN,NaN

In [24]:
# transformando em date time
df_sissel_data = df_sissel_colunas[:]
df_sissel_data['data_deferimento'] = pd.to_datetime(df_sissel_data['data_deferimento'], dayfirst=True)
df_sissel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   assunto           53 non-null     object
 1   n_processo        53 non-null     int64
 2   data_deferimento  53 non-null     datetime64[ns]
 3   his_total         0 non-null      object
 4   qtd_his1          4 non-null      float64
 5   qtd_his2          15 non-null     float64
 6   qtd_hmp           7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 3.0+ KB

In [25]:
# remocao dos nans e conversao dos valores float para int
df_sissel_conv = df_sissel_data
df_sissel_conv = df_sissel_conv.fillna(0)
df_sissel_conv['his_total'] = df_sissel_conv['his_total'].astype(int)
df_sissel_conv['qtd_his1'] = df_sissel_conv['qtd_his1'].astype(int)
df_sissel_conv['qtd_his2'] = df_sissel_conv['qtd_his2'].astype(int)
df_sissel_conv['qtd_hmp'] = df_sissel_conv['qtd_hmp'].astype(int)

soma_his1 = df_sissel_conv['his_total'].sum()
soma_his1 = df_sissel_conv['qtd_his1'].sum()
soma_his2 = df_sissel_conv['qtd_his2'].sum()
soma_hmp = df_sissel_conv['qtd_hmp'].sum()

soma_his1, soma_his2, soma_hmp

(491, 1088, 633)

In [26]:
# criação coluna his_soma

df_sissel_soma = df_sissel_conv.copy()  
df_sissel_soma.loc[:, 'his_total'] = df_sissel_soma['qtd_his1'] + df_sissel_soma['qtd_his2']
df_sissel_soma = df_sissel_soma.loc[:, ['assunto', 'n_processo', 'data_deferimento', 'qtd_his1', 'qtd_his2', 'his_total','qtd_hmp']]

In [27]:
# criação do dataframe clean para futura conferencia

df_sissel_clean = df_sissel_soma.copy()

In [28]:
# agrupando por mês
df_sissel_agrupado = df_sissel_clean.groupby(grouper)
df_sissel_agrupado = df_sissel_agrupado[['his_total', 'qtd_hmp']].sum()

In [29]:
df_sissel_agrupado

                  his_total  qtd_hmp
data_deferimento
2024-01-01              856      216
2024-02-01              723      417

In [30]:
df_sissel_clean

,assunto,n_processo,data_deferimento,qtd_his1,qtd_his2,his_total,qtd_hmp
0,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800020470,2024-01-04,0,0,0,0
1,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201001271536,2024-01-23,0,0,0,0
2,CERTIFICADO DE SEGURANCA,1010202000028408,2024-02-02,0,0,0,0
3,CERTIFICADO DE SEGURANCA,1010202000041056,2024-02-15,0,0,0,0
4,Certificado de Manutenção,6068202100026890,2024-02-23,0,0,0,0
5,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE S...,1010201900023986,2024-01-12,0,0,0,0
6,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,201800924840,2024-01-19,0,0,0,0
7,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE S...,1010202000051124,2024-01-03,0,0,0,0
8,Processo de Recurso de Despacho de Certificado...,6068202100072018,2024-01-03,0,0,0,0
9,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201701029495,2024-01-05,0,0,0,0
10,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202200041599,2024-01-31,0,0,0,0
11,ALVARA DE APROVACAO DE EDIFICACAO NOVA,1010202200080640,2024-01-19,0,0,0,0
12,Reconsideração do Certificado de Manutenção,6068202200105171,2024-01-03,0,0,0,0
13,ALVARA DE APROVACAO E EXECUCAO DE REFORMA,202100001112,2024-02-14,0,88,88,0
14,Processo de Inscrição do Cadastro de Manutençã...,1010202300073042,2024-01-12,0,0,0,0
15,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202300011209,2024-01-22,0,290,290,0
16,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,202100023183,2024-02-14,147,0,147,0
17,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202300014844,2024-01-03,0,11,11,4
18,ALVARA DE APROVACAO DE EDIFICACAO NOVA,6068202300034403,2024-01-30,0,0,0,431
19,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,6068202200102016,2024-01-03,245,81,326,81
20,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200056804,2024-02-21,0,0,0,0
21,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE S...,201800829805,2024-01-16,0,0,0,0
22,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,1010202300026257,2024-01-15,0,0,0,0
23,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202200105082,2024-01-17,0,0,0,0
24,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,6068202300073794,2024-01-18,15,7,22,0
25,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202300029035,2024-02-02,0,-296,-296,288
26,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,6068202300019838,2024-02-06,0,0,0,9
27,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,1010202300051588,2024-02-05,0,0,0,0
28,ALVARA DE APROVACAO DE EDIFICACAO NOVA,1010202200053040,2024-01-23,0,0,0,0
29,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200073687,2024-01-10,0,0,0,0
30,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300026656,2024-02-05,0,0,0,0
31,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200062740,2024-02-16,0,54,54,0
32,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,1010202300069177,2024-02-21,0,0,0,0
33,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201900336550,2024-02-02,0,340,340,0
34,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,6068202200039870,2024-02-14,0,12,12,0
35,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300107150,2024-01-12,0,0,0,-300
36,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,201801107668,2024-02-06,0,20,20,0
37,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300097375,2024-01-15,0,48,48,0
38,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300114245,2024-01-24,0,159,159,0
39,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,201800077323,2024-01-29,0,0,0,0
40,Processo de Apostilamento da Ficha de Inscriçã...,6068202400006509,2024-02-05,0,0,0,0
41,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,6068202200005029,2024-02-05,0,0,0,0
42,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201800538363,2024-02-22,0,0,0,0
43,ALVARA DE APROVACAO DE EDIFICACAO NOVA,202000086698,2024-02-23,0,0,0,0
44,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,6068202400000497,2024-02-07,0,252,252,120
45,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300110070,2024-02-06,0,0,0,0
46,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,201801036485,2024-02-09,0,0,0,0
47,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300102093,2024-02-23,0,0,0,0
48,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300106927,2024-02-15,84,0,84,0
49,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,6068202300114121,2024-02-20,0,16,16,0
50,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,202000089786,2024-02-22,0,6,6,0
51,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,1010202300059988,2024-02-29,0,0,0,0
52,RECONSIDERACAO DESPACHO DE ALVARA DE APROVACAO...,1010202300035280,2024-02-29,0,0,0,0

In [31]:
df_sissel_agrupado.to_excel('dados_saida/sissel_his_hmp_mes.xlsx', index = True)
df_sissel_clean.to_excel('dados_saida/sissel_analise.xlsx', index = False)