In [62]:
import pandas as pd

In [63]:
df = pd.read_excel('amostra_prodam-2022.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13607 entries, 0 to 13606
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PROCESSO                 13607 non-null  object
 1   DATA_PROTOCOLAMENTO      13607 non-null  datetime64[ns]
 2   SQL_CONTRIBUINTE         13607 non-null  object
 3   SQL_INCRA                13607 non-null  object
 4   REQUERIMENTO             13607 non-null  int64
 5   SITUACAO                 13607 non-null  object
 6   DATA_DESPACHO            13607 non-null  datetime64[ns]
 7   UNIDADE_DESPACHO         13607 non-null  object
 8   ALVARÁ                   13607 non-null  object
 9   DATA_EMISSÃO             13607 non-null  datetime64[ns]
 10  DESCRICAO_DO_ASSUNTO     13607 non-null  object
 11  NOME_PROPRIETARIO        13607 non-null  object
 12  OUTRO_PROPRIETARIO       1966 non-null   object
 13  AREA_CONSTRUIR           13607 non-null  float64
 14  AREA_REGULARIZAR         13607 non-null  float64
 15  AREA_REFORMAR            13607 non-null  float64
 16  AREA_DEMOLIR             13607 non-null  float64
 17  AREA_EXISTENTE           13607 non-null  float64
 18  AREA_MODIFICAR           13607 non-null  float64
 19  AREA_CONSTRUCAO          13607 non-null  float64
 20  AREA_PISCINA             13607 non-null  int64
 21  QUADRA_ESPORTIVA         13607 non-null  int64
 22  HELIPORTO_HELIPONTO      13607 non-null  int64
 23  SACADA_DESCOBERTA        13607 non-null  int64
 24  AREA_TERRENO             13607 non-null  float64
 25  AREA_CERTF_CONCLUSAO     3592 non-null   object
 26  CERTIFICADO              3804 non-null   object
 27  AREA_CERTIF_DEMOLICAO    13607 non-null  int64
 28  CERTIFICADO_CONCLUSAO    606 non-null    object
 29  CATEGORIA                13454 non-null  object
 30  DESCRICAO_CATEGORIA_USO  13454 non-null  object
 31  ATIVIDADE                4100 non-null   object
 32  RESIDENCIA               13607 non-null  int64
 33  QTD_PREDIO               2973 non-null   float64
 34  QTD_PAVIMENTO            2973 non-null   float64
 35  QTD_APARTAMENTO_PREDIO   1979 non-null   float64
 36  TOTAL_APARTAMENTO        1979 non-null   float64
 37  PAVIMENTO_SUBSOLO        1578 non-null   float64
 38  PAVIMENTO_SOBRESSOLO     0 non-null      float64
 39  ENDERECO                 13607 non-null  object
 40  BAIRRO                   13586 non-null  object
 41  CEP                      13607 non-null  object
 42  SUBPREFEITURA            13607 non-null  object
 43  DISTRITO                 13168 non-null  object
 44  ORIGEM                   13607 non-null  object
 45  DATA_GERAÇÃO             13607 non-null  datetime64[ns]
 46  LOC_SCRIPT               13607 non-null  object
dtypes: datetime64[ns](4), float64(14), int64(7), object(22)
memory usage: 4.9+ MB

<h3>UNIDADE DESPACHO</h3>

In [64]:
# unidade_despacho
un = df['UNIDADE_DESPACHO']
un_s1 = un.apply(lambda x: x[x.find('/') + 1:])
un_s1

0        GAB            -ASSESSORIA DE GABINETE E GESTÃ...
1        GAB            -ASSESSORIA DE GABINETE E GESTÃ...
2        GAB            -ASSESSORIA DE GABINETE E GESTÃ...
3        GTEC           -SMUL/UNIDADE DE GESTAO TECNICA...
4        GTEC           -SMUL/UNIDADE DE GESTAO TECNICA...
                               ...
13602    COMIN/DCIGP    -SMUL/COMIN/DIVISAO DE USO COME...
13603    COMIN/DCIGP    -SMUL/COMIN/DIVISAO DE USO COME...
13604    PARHIS/DHGP    -SMUL/PARHIS/DIV. DE HABIT DE I...
13605    PARHIS/DHGP    -SMUL/PARHIS/DIV. DE HABIT DE I...
13606    PARHIS/DHGP    -SMUL/PARHIS/DIV. DE HABIT DE I...
Name: UNIDADE_DESPACHO, Length: 13607, dtype: object

In [65]:
un_s2 = un_s1.apply(lambda x: x[:x.find('-')].strip())
un_s2

0                GAB
1                GAB
2                GAB
3               GTEC
4               GTEC
            ...
13602    COMIN/DCIGP
13603    COMIN/DCIGP
13604    PARHIS/DHGP
13605    PARHIS/DHGP
13606    PARHIS/DHGP
Name: UNIDADE_DESPACHO, Length: 13607, dtype: object

In [66]:
un_s3 = un_s2.apply(lambda x: x[:x.find('/')] if '/' in x else x)
un_s3

0           GAB
1           GAB
2           GAB
3          GTEC
4          GTEC
          ...
13602     COMIN
13603     COMIN
13604    PARHIS
13605    PARHIS
13606    PARHIS
Name: UNIDADE_DESPACHO, Length: 13607, dtype: object

In [67]:
df['UNIDADE_DESPACHO'] = un_s3

In [68]:
df.head()

,PROCESSO,DATA_PROTOCOLAMENTO,SQL_CONTRIBUINTE,SQL_INCRA,REQUERIMENTO,SITUACAO,DATA_DESPACHO,UNIDADE_DESPACHO,ALVARÁ,DATA_EMISSÃO,...,PAVIMENTO_SUBSOLO,PAVIMENTO_SOBRESSOLO,ENDERECO,BAIRRO,CEP,SUBPREFEITURA,DISTRITO,ORIGEM,DATA_GERAÇÃO,LOC_SCRIPT
0,0000-1982.0.001.482-7,1982-12-08,000.009.096.0002-3,SQL,7,Deferido,2023-08-22,GAB,2023 06175 00,2023-09-21,...,NaN,NaN,AV PAULISTA 001578,BELA VISTA,01310-200,116-SE - SE,07-SE-BVI-BELA VISTA,SISACOE,2023-09-27 13:29:27,select 5
1,0000-1982.0.001.482-7,1982-12-08,000.009.096.0002-3,SQL,7,Deferido,2023-08-22,GAB,2023 06175 00,2023-09-21,...,NaN,NaN,AV PAULISTA 001578,BELA VISTA,01310-200,116-SE - SE,07-SE-BVI-BELA VISTA,SISACOE,2023-09-27 13:29:27,select 5
2,0000-1994.0.098.819-2,1994-10-24,000.172.344.0122-8,SQL,1,Deferido,2023-05-04,GAB,2023 02793 00,2023-05-08,...,NaN,NaN,R VALE DA PERDIZ 00126,VL ELIDA,04417-170,299-AD - CIDADE ADEMAR,22-AD-CAD-CIDADE ADEMAR,SISACOE,2023-09-27 13:29:27,select 5
3,0000-1994.0.113.247-0,1994-10-31,000.172.212.0050-4,SQL,1,Deferido,2023-05-24,GTEC,2023 03229 00,2023-05-25,...,NaN,NaN,AV CUPECE 05651,CIDADE ADEMAR,04365-001,299-AD - CIDADE ADEMAR,22-AD-CAD-CIDADE ADEMAR,SISACOE,2023-09-27 13:29:27,select 5
4,0000-1994.0.113.247-0,1994-10-31,000.172.212.0050-4,SQL,1,Deferido,2023-05-24,GTEC,2023 03229 00,2023-05-25,...,NaN,NaN,AV CUPECE 05651,CIDADE ADEMAR,04365-001,299-AD - CIDADE ADEMAR,22-AD-CAD-CIDADE ADEMAR,SISACOE,2023-09-27 13:29:27,select 5

<h3>DESCRICAO_DO_ASSUNTO</h3>

In [69]:
ass = df['DESCRICAO_DO_ASSUNTO']
ass = ass.replace('LEI N:13.558/2003', '')
ass

0         22-5-RECONSIDERACAO DE DESPACHO DE ALVARA DE ...
1         22-5-RECONSIDERACAO DE DESPACHO DE ALVARA DE ...
2         13-5-RECONSIDERACAO DE DESPACHO DE CERTIFICAD...
3         13-5-RECONSIDERACAO DE DESPACHO DE CERTIFICAD...
4         13-5-RECONSIDERACAO DE DESPACHO DE CERTIFICAD...
                               ...
13602       11-1-APOSTILAMENTO DO CERTIFICADO DE CONCLUSAO
13603       11-1-APOSTILAMENTO DO CERTIFICADO DE CONCLUSAO
13604     04-3-REVALIDACAO DE ALVARA DE APROVACAO DE ED...
13605       36-3-REVALIDACAO DE ALVARA DE DESDOBRO DE LOTE
13606     07-3-REVALIDACAO DE ALVARA DE EXECUCAO DE EDI...
Name: DESCRICAO_DO_ASSUNTO, Length: 13607, dtype: object

In [70]:
ass = ass.apply(lambda x: x[x.find('-') + 1:])
ass

0        5-RECONSIDERACAO DE DESPACHO DE ALVARA DE FUNC...
1        5-RECONSIDERACAO DE DESPACHO DE ALVARA DE FUNC...
2        5-RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE...
3        5-RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE...
4        5-RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE...
                               ...
13602          1-APOSTILAMENTO DO CERTIFICADO DE CONCLUSAO
13603          1-APOSTILAMENTO DO CERTIFICADO DE CONCLUSAO
13604    3-REVALIDACAO DE ALVARA DE APROVACAO DE EDIFIC...
13605          3-REVALIDACAO DE ALVARA DE DESDOBRO DE LOTE
13606    3-REVALIDACAO DE ALVARA DE EXECUCAO DE EDIFICA...
Name: DESCRICAO_DO_ASSUNTO, Length: 13607, dtype: object

In [71]:
ass = ass.apply(lambda x: x[x.find('-') + 1:])
ass

0        RECONSIDERACAO DE DESPACHO DE ALVARA DE FUNCIO...
1        RECONSIDERACAO DE DESPACHO DE ALVARA DE FUNCIO...
2        RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...
3        RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...
4        RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...
                               ...
13602            APOSTILAMENTO DO CERTIFICADO DE CONCLUSAO
13603            APOSTILAMENTO DO CERTIFICADO DE CONCLUSAO
13604    REVALIDACAO DE ALVARA DE APROVACAO DE EDIFICAC...
13605            REVALIDACAO DE ALVARA DE DESDOBRO DE LOTE
13606    REVALIDACAO DE ALVARA DE EXECUCAO DE EDIFICACA...
Name: DESCRICAO_DO_ASSUNTO, Length: 13607, dtype: object

In [72]:
df['DESCRICAO_DO_ASSUNTO'] = ass
df[['UNIDADE_DESPACHO', 'DESCRICAO_DO_ASSUNTO']].head()

  UNIDADE_DESPACHO                               DESCRICAO_DO_ASSUNTO
0              GAB  RECONSIDERACAO DE DESPACHO DE ALVARA DE FUNCIO...
1              GAB  RECONSIDERACAO DE DESPACHO DE ALVARA DE FUNCIO...
2              GAB  RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...
3             GTEC  RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...
4             GTEC  RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...

<h3>CATEGORIA</h3>

In [74]:
df.rename(columns={'CATEGORIA': 'SUBCATEGORIA'}, inplace=True)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13607 entries, 0 to 13606
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PROCESSO                 13607 non-null  object
 1   DATA_PROTOCOLAMENTO      13607 non-null  datetime64[ns]
 2   SQL_CONTRIBUINTE         13607 non-null  object
 3   SQL_INCRA                13607 non-null  object
 4   REQUERIMENTO             13607 non-null  int64
 5   SITUACAO                 13607 non-null  object
 6   DATA_DESPACHO            13607 non-null  datetime64[ns]
 7   UNIDADE_DESPACHO         13607 non-null  object
 8   ALVARÁ                   13607 non-null  object
 9   DATA_EMISSÃO             13607 non-null  datetime64[ns]
 10  DESCRICAO_DO_ASSUNTO     13607 non-null  object
 11  NOME_PROPRIETARIO        13607 non-null  object
 12  OUTRO_PROPRIETARIO       1966 non-null   object
 13  AREA_CONSTRUIR           13607 non-null  float64
 14  AREA_REGULARIZAR         13607 non-null  float64
 15  AREA_REFORMAR            13607 non-null  float64
 16  AREA_DEMOLIR             13607 non-null  float64
 17  AREA_EXISTENTE           13607 non-null  float64
 18  AREA_MODIFICAR           13607 non-null  float64
 19  AREA_CONSTRUCAO          13607 non-null  float64
 20  AREA_PISCINA             13607 non-null  int64
 21  QUADRA_ESPORTIVA         13607 non-null  int64
 22  HELIPORTO_HELIPONTO      13607 non-null  int64
 23  SACADA_DESCOBERTA        13607 non-null  int64
 24  AREA_TERRENO             13607 non-null  float64
 25  AREA_CERTF_CONCLUSAO     3592 non-null   object
 26  CERTIFICADO              3804 non-null   object
 27  AREA_CERTIF_DEMOLICAO    13607 non-null  int64
 28  CERTIFICADO_CONCLUSAO    606 non-null    object
 29  SUBCATEGORIA             13454 non-null  object
 30  DESCRICAO_CATEGORIA_USO  13454 non-null  object
 31  ATIVIDADE                4100 non-null   object
 32  RESIDENCIA               13607 non-null  int64
 33  QTD_PREDIO               2973 non-null   float64
 34  QTD_PAVIMENTO            2973 non-null   float64
 35  QTD_APARTAMENTO_PREDIO   1979 non-null   float64
 36  TOTAL_APARTAMENTO        1979 non-null   float64
 37  PAVIMENTO_SUBSOLO        1578 non-null   float64
 38  PAVIMENTO_SOBRESSOLO     0 non-null      float64
 39  ENDERECO                 13607 non-null  object
 40  BAIRRO                   13586 non-null  object
 41  CEP                      13607 non-null  object
 42  SUBPREFEITURA            13607 non-null  object
 43  DISTRITO                 13168 non-null  object
 44  ORIGEM                   13607 non-null  object
 45  DATA_GERAÇÃO             13607 non-null  datetime64[ns]
 46  LOC_SCRIPT               13607 non-null  object
dtypes: datetime64[ns](4), float64(14), int64(7), object(22)
memory usage: 4.9+ MB

In [76]:
df['SUBCATEGORIA'] = df['SUBCATEGORIA'].astype(str)

In [77]:
df['SUBCATEGORIA'] = df['SUBCATEGORIA'].replace('H.I.S', 'HIS')
df['SUBCATEGORIA'] = df['SUBCATEGORIA'].replace('H.M.P', 'HMP')

In [78]:
temp = df['SUBCATEGORIA'].apply(lambda x: x[:x.find('.')] if '.' in x else x)
temp

0           NR3
1           NR3
2          R201
3            C2
4            R1
          ...
13602    R2V-02
13603    R2V-02
13604       HIS
13605       nan
13606     HIS 1
Name: SUBCATEGORIA, Length: 13607, dtype: object

In [81]:
df['CATEGORIA'] = temp.apply(lambda x: x[:x.find('-')].strip() if '-' in x else x)
df['CATEGORIA'].value_counts()

CATEGORIA
NR3      2742
NR2      2437
NR1      2332
R2V      1636
HIS 2    1102
EHIS      717
HIS       643
HMP       543
EHMP      263
R1        225
R2H       220
EZEIS     184
nan       153
HIS 1     113
NR4        51
R201       44
S2         31
C2         28
R202       18
N          17
E3         15
IND        15
E2         13
R          13
R301       11
S1          9
NR5         8
C1          5
E4          4
R303        4
I1          3
I2          2
E1          2
R203        2
S3          1
H           1
Name: count, dtype: int64

In [85]:
def tipo_uso(categoria):
    tipo_dict = {
        'Residencial': ['R2V', 'R1', 'R2H', 'R201', 'R202', 'R203', 'R301', 'R303', 'R'],
        'Não Residencial': ['N', 'NR1', 'NR2', 'NR3', 'NR4', 'NR5','C2', 'C1', 'E1', 'E2', 'E3', 'E4', 'I1', 'I2', 'IND', 'S1', 'S2', 'S3']
    }
    for i in tipo_dict:
        if categoria in tipo_dict[i]:
            return i
    else:
        return categoria

In [86]:
df['TIPO_USO'] = df['CATEGORIA'].apply(tipo_uso)
df['TIPO_USO']

0        Não Residencial
1        Não Residencial
2            Residencial
3        Não Residencial
4            Residencial
              ...
13602        Residencial
13603        Residencial
13604                HIS
13605                nan
13606              HIS 1
Name: TIPO_USO, Length: 13607, dtype: object

In [87]:
df[['TIPO_USO', 'CATEGORIA', 'SUBCATEGORIA']]

              TIPO_USO CATEGORIA SUBCATEGORIA
0      Não Residencial       NR3       NR3.04
1      Não Residencial       NR3       NR3.04
2          Residencial      R201         R201
3      Não Residencial        C2         C2.3
4          Residencial        R1           R1
...                ...       ...          ...
13602      Residencial       R2V       R2V-02
13603      Residencial       R2V       R2V-02
13604              HIS       HIS          HIS
13605              nan       nan          nan
13606            HIS 1     HIS 1        HIS 1

[13607 rows x 3 columns]